/*- Menu Tabs 10--------------------------- */

#tabs10 {
  float:left;
  width:100%;
  font-size:11px;

  line-height:normal;
  }
#tabs10 ul {
	  margin:0;
	  padding:0;
	  list-style:none;
  }
#tabs10 li {
  display:inline;
  margin:0;
  padding:0;
  }
#tabs10 a {
	color:#fff;
	font-size:14px;
	display:block;
  float:left;
 background:#e76847;
 border-radius:5px;
  margin:0;
  width:70px;
  height:28px;
  line-height:28px;
  text-align:center;
  padding:0 0 0 4px;
  text-decoration:none;
  margin: 10px 0;
  }
#tabs10 a:visited{color:#fff;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
/* End IE5-Mac hack */
#tabs10 a:hover {
  color:#FFF;
  text-decoration:underline;
  }



  #tabs10 .current a {
		  background-position:0% -42px;
  }
  #tabs10 .current a span {
		  background-position:100% -42px;
  }