.zh_CN .icon_new_topic img { background-image: url(../images/zh_CN/post.gif); width: 82px; height: 25px; }
.zh_CN .icon_reply img { width: 108px; height: 48px; }
.zh_CN .icon_reply_locked img { background-image: url(../images/zh_CN/reply_locked.gif); width: 82px; height: 25px; }
.zh_CN .icon_quote img { width: 29px; height:21px; vertical-align:middle;}
.zh_CN .icon_edit img {width: 15px; height: 16px; vertical-align:middle;}
.zh_CN .icon_profile img { background-image: url(../images/zh_CN/icon_profile.gif); width: 70px; height: 26px; }
.zh_CN .icon_pm img { background-image: url(../images/zh_CN/icon_pm.gif); width: 70px; height: 26px; }

th { font-size: 12px;}
th.thhead,td.cathead { font-size: 15px;}

.gen { font-size : 15px; }
.genmed, .name { font-size : 15px; }
.gensmall, .postdetails { font-size : 12px; color:#666666; }

.mainmenu { font-size: 12px;}
.cattitle { font-size: 12px; color:#000000;}
.forumlink { font-size: 15px; }
.nav, .topictitle { font-size:15px; }

.postbody { font-size: 15px; }

.postinfo { font-size: 12px; }

input, textarea, select { font-size: 15px; }
.moderator { font-size: 12px; }
.admin { font-size: 12px; }
