@charset "utf-8";
/* @import url(comm.css); */
body,p,h1,h2,h3,h4,h5,h6,form,input,ul,li,dd,dl,textarea{
  padding:0;margin:0;
  list-style-type:none;
}
a{
  text-decoration:none;
  font-size:14px;
  color:#858797;
}
img{
  border:0;
}
@font-face{font-family:HelveticaNeueLt;
src:url(../bg/font/helveticaneuelt.eot);
src:url(../bg/font/helveticaneuelt.eot?#iefix)format('embedded-opentype'),
url(../bg/font/helveticaneuelt.woff)format('woff'),
url(../bg/font/helveticaneuelt.ttf)format('truetype'),
url(../bg/font/helveticaneuelt.svg#HelveticaNeueLt)format('svg');font-weight:400;font-style:normal;}
*{margin:0;padding:0;font-family:microsoft Yahei;list-style:none;}
img{border:none;}
a{text-decoration:none;color:#333;}
body{background:#fff;}
/*会员中心 start*/
.MemberCenter_con1{width:100%;height: 125px;background: url(../../images/MemberCenter/MemberCenter_02.jpg) no-repeat center 0;}
.MemberCenter_con1in{width: 1000px;height: 100px;margin:0 auto;padding-top: 25px;position: relative;}
.y_user_img{width: 84px;height: 84px;border-radius: 50%;}
.time_text{font-size: 12px;color: #fff;position: absolute;left: 98px;top:47px;}
.time_text a{font-size: 14px;color: #fff;}
.MemberCenter_con1in ul{position: absolute;bottom: 15px;left:82px;}
.MemberCenter_con1in ul li{float:left;height:12px;line-height:12px;color: #fff;font-size: 12px;padding: 0 10px;border-right: 1px solid #fff;}
.strongas{color: #fff;font-weight: bold;}
.gradeas,.dredgeas{color: #32cf08;}
.MemberCenter_con1in ul li.con1inlilast{padding-right:0;border-right: none;width: 18px;height: 17px;background: url(../../images/MemberCenter/MemberCenter_1.png) no-repeat -92px 0;position: relative;top:-3px;}
.authenticationas{display: block;width: 24px;height: 24px;background: url(../../images/MemberCenter/MemberCenter_1.png) no-repeat;margin-left:5px; float: left;}
.authentication_user{background-position: 0px 0px;}
.authentication_phone{background-position: -25px 0px;}
.authentication_email{background-position: -50px 0px;}
.authentication_userNo{background-position: 0px -24px;}
.authentication_phoneNo{background-position: -25px -24px;}
.authentication_emailNo{background-position: -50px -24px;}
.floatrightsdiv{height: 12px;float: right;position: relative;top:-6px;}
/*总额*/
.MemberCenter_con2{width: 1000px;height: 130px;margin: 20px auto 18px;background-color: #ff7800;border-radius: 5px;}
.MemberCenter_con2_left{width: 267px;height: 103px;float: left;color: #fff;padding: 27px 0 0 49px;}
.MemberCenter_con2_left h4{font-size: 16px;font-weight: normal;line-height: 32px;height: 32px;padding-left:2px;}
.MemberCenter_con2_left span{font-size: 16px;line-height: 48px;}
.MemberCenter_con2_right{background: #fff;width:682px;height:128px;float:left;border-top: 1px solid #d2d2d2;border-right: 1px solid #d2d2d2;border-bottom: 1px solid #d2d2d2;}
.MemberCenter_con2_right ul{width: 262px;padding-left:48px; float:left;padding-top: 0px;}
.MemberCenter_con2_right ul li{height: 32px;line-height: 32px;color: #818080;font-size: 14px;}
.y_con2_spans_rights{font-family: "HelveticaNeueLt","Microsoft YaHei","SimHei";font-size: 16px;color: #000000;}
.y_con2_spans_rtops{color: #ff7800;font-weight: bold;}
.MemberCenter_con3{width: 1000px;margin: 0 auto;overflow: hidden;}
.MemberCenter_con3_left{float:left;border: 1px solid #d2d2d2;width: 765px;height: 251px;margin-right: 17px;}
.MemberCenter_con3_right{width: 189px;height: 234px;float: left;border: 1px solid #d2d2d2;padding:8px 14px 9px 10px;}
.MemberCenter_con3_right ul li{margin-bottom:16px;height:14px;font-size: 14px;line-height: 14px;float:left;}
.MemberCenter_con3_right ul li.y_service_names{padding:0 16px;border-right: 1px solid #666;color: #0697da;}
.MemberCenter_con3_right ul li.y_service_names2 a{color: #666666;}
.y_service_namesrecharge{display:block;width: 86px;height: 32px;text-align: center;line-height: 32px;color: #fff;font-size: 14px;float:left;background: #12adff;border-radius: 2px;}
.y_service_namesdeposit{display:block;width: 84px;height: 30px;text-align: center;line-height: 32px;color: #666666;font-size: 14px;float:left;border: 1px solid #e6e6e6;background: #f5f5f5;margin-left: 17px;}
.MemberCenter_con4{width: 1000px;margin: 0 auto;padding-bottom: 168px;}
.MemberCenter_con4 h1{line-height: 38px;font-weight: normal;height: 38px;color: #1e1e1e;font-size: 14px;padding: 24px 0 0 17px;background: #f3f3f3;position: relative;}
.MemberCenter_con4 h1 span{display: block;padding-left: 29px;width: 56px;background: url(../../images/MemberCenter/MemberCenter_1.png) no-repeat;height: 22px;line-height: 22px;position: absolute;top:34px;color: #005ea7;font-size: 14px;}
.MemberCenter_con4 .y_jy_title{height: 12px;width: 100%;padding: 14px 0;background: #f3f3f3;border-top: 1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2;}
.MemberCenter_con4 .y_jy_title li{float: left;color: #005ea7;font-size: 12px;padding: 0 16px;border-right: 1px solid #d6d6d6;cursor: pointer;}
.MemberCenter_con4 .y_jy_title li.liclicksx{color: #ff7800;}
.record_conss{width: 100%;}
.record_conss ul{width: 100%}
.record_conss li{width: 100%;font-size: 12px;color: #555555;text-align: center;line-height: 40px;height: 40px;}
.record_conss li.record_conss_title{color: #666666;font-size: 14px;font-weight: bold;height: 50px;line-height: 50px;border-bottom: 1px solid #d2d2d2;margin-bottom: 8px;}
.record_conss li dl{width: 100%}
.record_conss li dd{float:left;width: 116px;}
.record_conss1{width: 826px;}
.record_conss1 li dd{float:left;width: 100px;}
.record_conss li dd.record_dd1{width: 151px;}
.record_conss li dd.record_dds1{width: 140px;}
.record_conss li dd.record_dds3{width: 80px;}
.record_conss li dd.record_dds2{width: 120px;}
.y_account_password_right1 .record_conss{width: 790px;}
.y_account_password_right1 .record_conss li dd.record_dds1{width: 150px;}
.record_conss li dd.record_dd4,.record_conss li dd.record_dds4{width: 144px;margin-left:28px;color: #ff7800;font-size: 16px;font-weight: bold;}
.record_conss li dd.record_dds4{width: 130px;margin-left: 0px;}
.record_conss li.record_conss_title dd.record_dd4,.record_conss li.record_conss_title dd.record_dds4{color: #666666;font-size: 14px;}
.record_conss li dd.record_dd5{width: 160px;}
.record_conss li dd.record_dds5{width: 110px;}
.record_conss li dd.record_dd6{width: 232px;}
.record_conss li dd.record_dds6{width: 100px;}
.y_no_nums{width: 72px;height: 60px;background: url(../../images/MemberCenter/MemberCenter_1.png) no-repeat -334px 0;margin: 100px 420px; }
.y_invite_ul_bottomcon .y_no_nums{margin-left: 340px;}
.record_conssin_num{display: none;}
.record_conssin_num li{border-bottom: 1px solid #eee;}
/*会员中心  end*/
/*我的账户收益 start*/
.y_account_right{position: relative;}
.c_deal_content .y_account_nav dd span{background: url(../../images/account/icon_account.png) no-repeat;top:15px;}
.c_deal_content .y_account_nav dd span.c_set_icon {background-position: -29px 0;}
.c_deal_content .y_account_nav dd span.c_pay_icon {background-position: -30px -50px;}
.c_deal_content .y_account_nav dd span.c_bank_icon {background-position: -30px -94px;}
.c_deal_content .y_account_nav dd span.c_recharge_icon {background-position: -30px -137px;}
.c_deal_content .y_account_nav dd span.c_tpacket_icon {background-position: -30px -183px;}
.c_deal_content .y_account_nav dd span.c_invitation_icon {background-position: -30px -232px;}
.c_deal_content .y_account_nav dd span.c_datum_icon {background-position: -30px -286px;}
.c_deal_content .y_account_nav dd span.c_address_icon {background-position: -30px -334px;top:12px;}
.c_deal_content .y_account_nav dd span.c_instation_icon {background-position: -30px -388px;}
.c_deal_content .y_account_nav dd span.c_interaction_icon {background-position: -30px -432px;}
.c_deal_content .y_account_nav dd.c_invest_this span.c_set_icon {background-position: 0px 0;}
.c_deal_content .y_account_nav dd.c_invest_this span.c_pay_icon {background-position: 0 -50px;}
.c_deal_content .y_account_nav dd.c_invest_this span.c_bank_icon {background-position: 0 -94px;}
.c_deal_content .y_account_nav dd.c_invest_this span.c_recharge_icon {background-position: 0 -137px;}
.c_deal_content .y_account_nav dd.c_invest_this span.c_tpacket_icon {background-position: 0 -183px;}
.c_deal_content .y_account_nav dd.c_invest_this span.c_invitation_icon {background-position: 0 -232px;}
.c_deal_content .y_account_nav dd.c_invest_this span.c_datum_icon {background-position: 0 -286px;}
.c_deal_content .y_account_nav dd.c_invest_this span.c_address_icon {background-position: 0 -334px;top:12px;}
.c_deal_content .y_account_nav dd.c_invest_this span.c_instation_icon {background-position: 0 -388px;}
.c_deal_content .y_account_nav dd.c_invest_this span.c_interaction_icon {background-position: 0 -432px;}
.y_account_nav{margin-bottom: 115px;}
.y_account_right_top{width: 794px;padding-top: 42px;overflow: hidden;margin-bottom:34px;}
.y_account_right_top li{width: 160px;height: 84px;padding: 0 58px;float: left;border-right: 1px solid #e0e0e0;}
.y_account_right_top li .y_account_rightula{display: block;margin-right:11px;width: 58px;height: 61px;float:left;background: url(../../images/account/icon_account.png) no-repeat;}
/*已认证样式*/
.y_account_right_top li .y_account_rightula1_yes{background-position: 0 -491px;}
.y_account_right_top li .y_account_rightula2_yes{background-position: 0 -553px;}
.y_account_right_top li .y_account_rightula3_yes{background-position: 0 -615px;}
/*未认证样式*/
.y_account_right_top li .y_account_rightula1{background-position: 0 -677px;}
.y_account_right_top li .y_account_rightula2{background-position: 0 -739px;}
.y_account_right_top li .y_account_rightula3{background-position: 0 -801px;}
.y_account_right_top li h4{color: #818080;font-size: 12px;font-weight: normal;line-height: 26px;}
.y_account_right_top li .y_account_rightula22{font-size: 12px;color: #005ea7;line-height: 24px;}
.y_account_right_top li p{width: 100%;font-size: 12px;color: #818080;line-height: 24px;height: 24px;clear: both;}
.y_accountright_bottom{width: 794px;margin-top: 22px;}
.y_accountright_bottom li{height: auto;line-height: 46px;border-bottom: 1px solid #dddddd;}
.y_accountright_bottom em{float:left;color: #555555;font-size: 12px;font-style: normal;}
.y_accountright_bottom span{float:left;margin-left: 30px;color: #818080;}
.y_accountright_bottom .y_account_div_a{float:right;}
.y_accountright_bottom .y_account_div_a a{display: block;border: 1px solid #0697da;font-size: 12px;color: #fff;height: 22px;width: 88px;float: left;margin-left: 15px;line-height: 22px;text-align: center;margin-top: 11px;}
.y_accountright_bottom .y_account_div_a a:hover{background: #12ADFF;color: #fff;}
/*我的账户收益 end*/
/*修改登录密码 start*/
.y_account_password_right .y_forms ,.y_account_password_right .y_formss {padding-left:105px;}
.y_account_password_right .y_forms input,.y_account_password_right .y_formss .widthheight{margin-bottom: 18px;outline: none;border: 1px solid #c9c9cf;padding:0;padding-left: 10px;width: 245px;border-radius: 4px;height: 36px;}
.y_account_password_right .y_forms input.y_submits,.y_account_password_right .y_formss input.y_submits,.form_interactionul input.y_submits{outline: none;width: 140px;height: 36px;border: none;background: #12adff;cursor: pointer;margin-left: 126px;margin-bottom:0;margin-top:12px;border-radius: 2px;padding:0;color: #fff;}
.y_account_password_right .y_forms input.y_radios{position: relative;top: 2px;width: 14px;height: 14px;margin-left: 2px;}
.y_account_password_right .y_forms label{color: #555;font-size: 14px;line-height: 60px;}
.y_account_password_right .y_forms label.y_input_label,.y_account_password_right .y_formss label.y_input_labels{display:inline-block;width: 84px;text-align: right;padding-right: 10px;}
.y_account_password_right .y_forms label.y_input_top_font{padding-left:10px;}
.y_account_password_right .y_forms span{padding-left:10px;}
.y_account_password_right .y_forms span.y_spans,.y_account_password_right .y_forms span.y_spanstextarea{font-size: 14px;color: #e86969;line-height: 26px;}
.y_reminder_p{color: #555555;font-size: 14px;padding-left: 70px;margin-top: 60px;}
.y_reminder_p em{font-style: normal;color: #0697da;}
.y_reminder_p a{color: #005ea7;}
.y_account_password_right .y_forms label.y_input_top_font strong{font-size: 16px;color: #ff7800;padding:0 10px;font-family: "HelveticaNeueLt","Microsoft YaHei","SimHei";}
.y_reminder_box{margin-top: 60px;padding: 28px 50px;background: #eeeeee;font-size: 14px;color: #555555;line-height: 30px;}
.y_reminder_box p.y_reminder_box_orange{line-height: 34px;color: #ff7800;}
.y_reminde_phoneBox{width: 771px;height: 75px;background: #efffcc url(../../images/account/auth_info_img.png) no-repeat 22px 23px;border: 1px solid #d6d6d6;margin-left: 20px;margin-top: 25px;}
.y_reminde_phoneBox p{color: #555;font-size: 18px;line-height: 75px;padding-left: 70px;}
.y_reminde_phoneBox p span{padding: 0 10px;color: #ec7a00;}
.y_reminde_phoneBox p a{color: #005ea7;}
/*修改登录密码 end*/

/*充值提现 start*/
.y_earnings_box{width: 796px;height: 84px;border: 1px solid #d2d2d2;margin-top: 3px;padding-left: 28px;}
.y_earnings_box li{width: 270px;float:left;}
.y_earnings_box li span{display: block;font-size: 14px;color: #333333;line-height: 26px;margin-top: 14px;}
.y_earnings_box li strong{font-size: 22px;color: #000000;font-weight: normal;line-height: 44px; }
.y_earnings_box li.y_earnings_boxlilast{width: 220px;}
.y_earnings_boxlilast a{display:block;float:left;width: 86px;height: 32px;background: #ff7800;color: #fff;margin-left: 24px;margin-top: 24px;border-radius: 2px;line-height: 32px;text-align: center;font-size: 14px;}
.y_earnings_boxlilast a.y_earnings_boxlilasta2{background: #12adff;}
.y_earnings_box1{height: 79px;padding-top: 13px;}
.y_date_limit{margin-bottom: 18px;}
.y_date_limit span{padding:0 10px;font-size: 12px;color: #555555;cursor: pointer;}
.y_tradeType{color: #999999;font-size: 12px;line-height: 28px;padding-right: 18px;}
.y_tradeTypein{margin-left: 6px;cursor:pointer;border-radius: 2px;padding: 8px 12px;font-style: normal;font-size: 12px;color: #333333;}
em.y_tradeTypeclick{background: #00a0e9;color: #fff;}
/*充值提现 end*/
/*收货地址 start*/
.y_account_password_right .y_forms .y_add_address span{color: #fc6210;padding-left: 0;margin-left: -10px;padding-right: 10px;}
.y_nums_statistics{color: #fc6210;font-size: 14px;margin:40px 0 30px;padding-left: 105px;}
.y_address_statistics{border-radius:2px;width: 789px;height:auto;border: 1px solid #c9c9cf;border-radius: 5px;margin-bottom:40px;}
.y_address_statistics ul{background: #f2f2f2;height: 54px;line-height: 54px;padding-left: 10px;}
.y_address_statistics ul li{float:left;text-align: left;color: #555;font-size: 14px;}
.y_address_statistics1{width: 68px;padding-left: 10px; width: 58px;}
.y_address_statistics2{width: 76px;line-height:24px;padding:12px;}
.y_address_statistics3{padding-left: 12px;width: 194px;}
.y_address_statistics4{width: 76px;}
.y_address_statistics5{width: 130px;}
.y_address_statistics6{width: 104px;}
.c_addresses table{ border-collapse:collapse;}
#addressDetailList td{font-size:14px;}
.updateAddress,.delAddress{color:#555;}
.c_addresses table td{font-size:12px;padding:10px 6px;color:#666;line-height:24px;}
.y_address_statisticsd{background: none repeat scroll 0 0 #ffd6cc; border: 1px solid #ff3800;border-radius: 2px;color: #333;}
.y_address_statistics dl{clear: both;padding-left: 10px;height: auto;border-bottom: 1px solid #c9c9cf; line-height: 74px;color: #555555;font-size: 12px;}
.c_addresses tr{border-bottom: 1px solid #C9C9CF; }
.y_address_statistics dl dd{float: left;font-size:12px;height:auto;}
.y_address_statistics dl dd.y_address_statistics3{width: 182px;height:auto;line-height: 24px;padding: 12px;}
.y_address_statistics dl dd.y_address_statistics6 a{color: #005ea7;font-size:12px;}
.y_address_statistics7 span{display:block;background: #ffd6cc;border: 1px solid #ff3800;color: #ff3800;text-align:center;font-size: 14px;width: 58px;
border-radius: 2px; }
.y_address_statistics7 a{cursor:pointer;display:block;background: #ff6600;color: #fff;font-size: 12px;width: 58px;text-align:center;border-radius: 2px; }
.y_CertifiedInformation i,.y_CertifiedInformation em{font-style: normal;font-size: 14px;}
.y_CertifiedInformation a{font-size: 14px;color: #246bad;padding: 0 10px;}
.y_CertifiedInformation i{color: #000;}
.y_CertifiedInformation em{color: #555555;}
.y_div_title{width: 100%;height: 41px;border-top: 1px solid #cccccc;border-bottom: 1px solid #cccccc;margin-top: 40px;margin-bottom: 24px;}
.y_div_title h1{color: #0697da;font-size:18px;height: 40px;border-bottom: 2px solid #0697da;font-weight: normal;margin-left: 54px;line-height: 40px;text-align: center;width: 80px;}
/*收货地址 end*/
/*银行卡绑定 start*/
.y_bankLists{overflow: hidden;}
.y_bankLists li{width: 148px;margin-left: 34px;margin-bottom: 29px;height: 48px;border: 1px solid #dcdcdc;position: relative;float: left;}
.y_bankLists li span{display: none;width: 15px;height: 15px;background: url(../../images/bank/xzicon.jpg) no-repeat;position: absolute;bottom: 0px;right: 0px;}
.y_add_bank_as:hover{background-color: #f2f2f2;}
.y_add_bank_as{margin-left:20px;float:left;border-radius: 5px;display: block;width: 198px;padding-left:30px;height: 130px;color: #000;font-size: 14px;line-height: 130px;text-align: center;border: 1px dashed #d7dadb;background: url(../../images/bank/as.png) no-repeat 50px 50px; }
.y_add_bank_shows{position: relative;width: 228px;border-radius: 5px;height: 130px;margin-left:20px;float:left;border: 1px solid #d7dadb;}
.y_add_bank_showsh1{text-align: center;line-height: 30px;height: 30px;border-bottom: 1px solid #d7dadb;color: #555555;font-size: 12px;font-weight: normal;}
.y_add_bank_showsspan{font-size: 12px;color: #0697da;right:15px;top:13px;cursor:pointer;}
.y_add_bank_shows a{display: block;line-height: 30px;height:30px;text-align: center;color: #555555;font-size: 14px;}
.y_tishis{padding-left:32px;padding-right:20px;line-height: 25px;background: #ffffe0 url(../../images/bank/jgicon.png) no-repeat 10px 5px;border: 1px solid #fae5ba;width: 300px;margin: 0 0 15px 40px;font-size: 12px;color: #555;}
.y_tishis a{color: #045aa2;font-size:12px;padding: 0 5px;}
/*银行卡绑定 end*/
/*提现 start*/
a.verify_code,a.verify_code_on{cursor:pointer;display: inline-block;width: 128px;height: 36px;border: 1px solid #d4d4d9;position: relative;top: -7px;left: 11px;background: #ecebeb;color: #242323;font-size: 14px;text-align: center;line-height: 36px;border-radius:4px;}
/*提现 end*/
/*找回密码 start*/
.y_ulpasswords{width: 725px;}
.y_ulpasswords li{height: 108px;width: 723px;border: 1px solid #dfdfdf;margin-bottom: 15px;}
.y_ulpasswords li.nobinding{background: #f3f3f3;}
/*找回密码 end*/
/*抽奖有礼 start*/
.y_invite_title{color: #777777;font-size: 16px;line-height: 36px;padding-left: 28px;height: 36px;margin-top: 14px;}
.y_invite_ul{width: 754px;height: 130px;background: #efefef;padding-left: 40px;padding-top: 10px;}
.y_invite_ul li{line-height: 30px;color: #777777;font-size: 14px;}
.y_chainedAddress{height: 38px;margin: 32px 0 21px;padding-left: 20px;}
.y_chainedAddress em{font-size: 12px;color: #818080;font-style: normal;line-height: 38px;}
.y_chainedAddress input{line-height: 34px;border: 1px solid #a9a9a9;outline:none;display: inline-block;width: 427px;height: 34px;padding-left: 13px;font-size: 12px;color: #000000;}
.y_chainedAddress a{display: inline-block;width: 140px;height: 34px;background: #0697da;margin-left: 14px;font-size: 16px;color: #ffffff;text-align: center;line-height: 34px;box-shadow: 0 2px 1px #036b9a;border-radius: 5px;}
.y_invite_ul_bottom{height: 43px;border-bottom: 1px solid #c9c9c9;padding-left: 20px;width: 774px;}
.y_invite_ul_bottom li{cursor:pointer;float:left;text-align: center;width: 152px;height: 42px;line-height: 42px;border-top: 1px solid #fff;border-right: 1px solid #fff;border-left: 1px solid #fff;color: #555555;border-bottom: 1px solid #c9c9c9;font-size: 16px;}
.y_invite_ul_bottom li.y_inviteliclicks{position: relative;color:#0697da;border-top: 1px solid #c9c9c9;border-right: 1px solid #c9c9c9;border-left: 1px solid #c9c9c9;border-bottom: 1px solid #fff;}
.y_invite_ul_bottom p{float: right;line-height: 43px;color: #777777;font-size: 14px;padding-right: 13px;}
.y_invite_ul_bottom p span{color:#0697da;}
.y_invite_ul_bottomcon{display: none;}
.y_invite_ul_bottomcon1{display: block;}
/*抽奖有礼 end*/
/*互动管理   start*/
.y_account_rightlistin{width: 774px;border:1px solid #e0e0e0;}
.y_account_interactionul{padding-left: 30px;line-height: 32px;overflow: hidden;}
.y_account_interactionul li{float:left;font-size: 14px;color: #666666;}
.y_account_interactionul li dd{height: 32px;}
.y_account_interactionul li.y_account_interactionliFont{width: 264px;}
.y_account_interactionul li.y_account_interactionliCheck{width: 235px;}
/*互动管理   end*/

/*法律顾问   start*/
.law_banner{width: 100%;background: url(../../images/law/law_banner.jpg) no-repeat center 0;height: 339px;}
.y_law_content{width: 998px;margin: 61px auto 308px;}
.y_law_list{margin: 35px 6px 74px;overflow: hidden;}
.y_law_list li{width: 460px;height: 209px;float:left;}
.y_law_list li.y_law_list1{margin-right: 64px;}
.y_law_list li img{float:left;}
.y_law_list_right{float:left;margin-left: 22px;width: 300px;}
.y_law_list_right h3{line-height: 26px;width: 140px;height: 26px;border-bottom: 1px solid #e6e6e6;color: #0093d4;font-size: 16px;}
.y_law_list_right h2{color: #777777;font-size: 18px;line-height: 29px;}
.y_law_list_right p{text-align:justify;color: #7a7a7a;font-size: 14px;line-height: 21px;margin:16px 0 12px;}
.y_law_list_right a{color: #666666;font-size: 13px;float: right;}
.y_law_list_right a:hover{color: #0093d4;}
.y_law_list_bottom{width: 998px;overflow: hidden;}
.y_law_list_bottom li dd{float:left;}
.y_law_list_bottomdd1{width: 600px;margin-right: 38px;}
.y_law_list_bottomdd2{width: 360px;}
.y_law_list_bottomli1 dd{border-bottom: 2px solid #b3b3b3;}
.y_law_list_bottomli1 dd span{line-height: 34px;border-bottom: 3px solid #0093d4;font-size: 20px;color: #0093d4;padding: 3px 24px;}
.y_law_list_bottomli1 .y_law_list_bottomdd1{margin-bottom: 32px;}
.y_law_list_bottomli1 .y_law_list_bottomdd2{margin-bottom: 66px;}
.y_law_list_bottomdd2 p{color: #555555;font-size: 14px;line-height: 26px;}
.y_law_list_bottomdd2 p a{font-size: 14px;color: #0093d4;float: right;}
/*法律顾问   end*/
/*能源宝列表  start*/
.y_RinseChoose{width: 100%;border-bottom: 1px solid #cccccc;border-top: 1px solid #e4e4e4;padding: 58px 0 51px;position: relative;}
.y_RinseChoose_con{width: 968px;margin: 0 auto; overflow: hidden;padding-left: 30px;}
.y_RinseChoose_con label{line-height: 30px;color: #999999;font-size: 14px;float: left;}
.y_RinseChoose_con ul{margin-left: 100px;}
.y_RinseChoose_con ul li{float: left;color: #666666;font-size: 14px;cursor: pointer;margin: 0 0 10px 5px;line-height: 20px;padding: 5px 15px;border-radius: 4px;border-radius: 4px;}
.y_RinseChoose_con ul li.y_RinseChoose_conClick{background-color: #00a8e8;color: #fff;}
.y_arrows{position: absolute;right: 100px;bottom: -26px;width: 160px;height: 25px;line-height: 24px;cursor: pointer;background-color: #fff;text-align: center;border: 1px solid #ddd;border-top: none;z-index: 1;}
.y_arrows .y_sign{position: absolute;right: 20px;bottom: 4px;width: 0;height: 0;border: 4px solid transparent;border-top: solid 6px #ccc;}
.y_arrows.y_up .y_sign{bottom: 9px;border: 4px solid transparent;border-bottom: solid 6px #ccc;}
.y_money_uls{width: 998px;margin: 38px auto 6px;overflow: hidden;height:23px;position: relative;}
.y_calculatorbutton{position: absolute;right:20px;top:0;cursor: pointer;}
/*JSDP-94 xingjia 2015-05-09 start*/
.y_money_uls li{float: left;padding: 0 10px 0 10px;border-left: 1px solid #444444;height: 20px;color: #444444;font-size: 14px;}
/*JSDP-94 xingjia 2015-05-09 end*/
.y_money_uls li span{color: #fb8b1d;font-size: 16px;padding-left: 9px;}
.y_parlex_project{overflow: hidden;margin: 0 auto;}
.y_par_out .y_parlex_projects dd {width: 225px;height: 354px;margin-right: 0;margin-left: 32px;margin-top: 34px;}
.y_PageNums li{cursor:pointer;margin-left:7px;float: left;width: 30px;height: 30px;border: 1px solid #dddddd;line-height: 30px;text-align: center;color: #545454;font-size: 14px;border-radius: 2px;}
.y_details_con2right .y_PageNums li{width: 20px;height: 20px;line-height: 20px;font-size: 12px;}
.y_PageNums li.y_previousPage,.y_PageNums li.y_nextPage{width: 70px;height: 30px;border:1px solid #00a9e9;}
.y_details_con2right .y_PageNums li.y_previousPage,.y_details_con2right .y_PageNums li.y_nextPage{width: 50px;height: 20px;border:1px solid #00a9e9;}
.y_PageNums{margin: 107px auto 120px;overflow: hidden;}
.y_details_con2right .y_PageNums{margin-top:30px;}
.y_PageNums li.y_previousPage:hover,.y_PageNums li.y_nextPage:hover{color: #00a9e9;}
.y_PageNums li.y_PageNumsclick{color: #fff;background-color: #00a9e9;}
.c_parlex_projects dd {margin-right: 0;margin-left: 42px;margin-top: 34px;}
.y_rinse_hides{display: none;}
/*能源宝列表  end*/
/*项目详情  start*/
.y_details_title{width: 998px;margin: 0 auto;height: 50px;line-height: 50px;}
.y_details_title li{float: left;color: #777777;font-size: 12px;}
.y_details_title li a{color: #777777;font-size: 12px;}
.y_details_con1{width: 998px;margin: 0 auto 30px;overflow: hidden;}
.y_details_con1left{width: 696px;height: 272px;border: 1px solid #e4e4e4;float:left;border-radius: 5px;margin-right: 16px;}
.y_details_con1right{padding-left:16px;width: 264px;height: 262px;border: 1px solid #f9e1b7;float:left;background-color: #fff2ec;padding-top: 10px;}
.y_details_con1left img{margin-top: 27px;margin-left: 15px;;float: left;}
.y_details_con1leftin{float: left;width: 442px;margin-top: 27px;position: relative;}
.y_details_con1leftin h1{line-height: 34px;height: 34px;color: #000000;font-size: 18px;font-weight: normal;padding-left: 19px;}
.y_details_con1leftul1{height: 66px;margin-top: 30px;}
.y_details_con1leftul1 li{float: left;padding: 0 16px;border-left: 1px solid #dddddd;color: #3e3e3e;font-size: 14px;}
.y_details_con1leftul1 li span em{font-style: normal;font-size: 24px;font-family: "HelveticaNeueLt","Microsoft YaHei","SimHei";color:#ff7800;}
.y_details_con1leftul2 li{width: 211px;float: left;line-height: 30px;}
.y_details_con1leftul2{margin-left:20px;width: 422px;overflow: hidden;margin-top: 27px;}
.y_details_con1leftul2 li label{color: #777777;font-size: 14px;}
.y_details_con1leftul2 li span{color: #000000;font-size: 14px;}
.y_circles{position: absolute;width: 46px;height: 46px;right: 20px;top:0px;}
.y_details_con1right form .y_money_ps{color: #b0b0b0;font-size: 14px;line-height: 40px;height:40px;}
.y_details_con1right form .y_money_ps span{font-size: 16px;font-family: "HelveticaNeueLt","Microsoft YaHei","SimHei";color:#ff7800;}
.y_details_registerps{line-height: 28px;padding-left: 10px;width: 194px;height: 28px;border: 1px solid #fae5ba;background-color: #ffffe0;color: #555555;font-size: 12px;border-radius: 2px;margin-top: 26px;}
.y_details_registerps a{font-size: 12px;color: #3caee2;}
.y_detailsinputs{text-align: center;width: 245px;height: 34px;border: 1px solid #12adff;color: #b0b0b0;font-size: 14px;font-family: "simsun";outline: none;}
.y_details_con1right form label{color: #b0b0b0;font-size: 14px;}
.y_debt_con_center2rightbutton{display: inline-block;width: 52px;height: 28px;background: #06b5ff;color: #fff;line-height: 28px;text-align: center;border-radius: 3px;margin-top: 12px;margin-left: 16px;cursor: pointer;}
.y_debt_con_center2rightbutton1{outline: none;border: 0;background: #ff7900;position: relative;top:-1px;}
.y_details_logas,.notlogina{display: block;width: 250px;height: 46px;border-radius: 5px;background-color: #12adff;font-size: 16px;color: #fff;text-align: center;line-height: 46px;margin-top: 14px;}
.y_details_logas_nologin{display: block;width: 250px;height: 46px;border-radius: 5px;background-color: #12adff;font-size: 16px;color: #fff;text-align: center;line-height: 46px;margin-top: 14px;}
.y_details_btn{display: block;width: 250px;height: 46px;border-radius: 5px;background-color: #12adff;font-size: 16px;color: #fff;text-align: center;line-height: 46px;margin-top: 14px;}
.y_circles .circle-text {color: #3ca0eb;}
.y_details_con2{width: 1000px;margin: 0 auto;padding-bottom: 40px;}
.y_details_con2left{padding: 14px 0 55px;width: 696px;margin-bottom: 140px;border: 1px solid #e4e4e4;float:left;border-radius: 5px;margin-right: 18px;}
.y_details_con2right{float: left;width: 282px;}
.y_details_con2left .y_details_con2leftTitle{width: 100%;overflow: hidden;height: 46px;}
.y_details_con2leftTitle li{cursor:pointer;float: left;padding: 10px 0;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;width: 139px;}
.y_details_con2leftTitle li span{display: block;border-right: 1px solid #e5e5e5;width: 139px;line-height: 24px;text-align: center;}
.y_details_con2leftTitle li.y_details_clicksli{width:138px;border-top: 3px solid #0697da;border-right: 1px solid #e5e5e5;border-left: 1px solid #e5e5e5;border-bottom: 0;}
.y_details_con2leftTitle li.y_details_clicksli span{width: 139px;border:0;line-height: 20px;}
.y_detailscon2leftcon{padding-left: 32px;}
.y_detailscon2leftcon h2{font-weight:bold;line-height: 58px;padding-left: 17px;color: #000000;font-size: 18px;background: url(../../images/account/bgy.png) no-repeat 0px 25px;}
.y_projectDetails h3{line-height: 30px;padding-left: 27px;margin-top:10px;color: #000000;font-size: 14px;background: url(../../images/account/bgy.png) no-repeat 10px -79px;}
.y_h3_ul{padding-left: 27px;overflow: hidden;}
.y_h3_ul li{width: 300px;float: left;}
.y_h3_color{font-size: 14px;color: #666666;line-height: 30px;}
p.y_h3_color{padding: 0 21px 0 27px;}
.y_h3_color .namespan{display: inline-block;width: 80px;padding-left: 105px;}
.y_h3_color em.em1t{margin-left: 185px;}
.y_details_con2right h2{border-bottom: 1px solid #08abe9;color: #525252;font-size: 16px;line-height: 28px;}
.y_detailscon2leftcon dl.rightdls{overflow: hidden;background: #eeeeee;width: 597px;height: 110px;margin: 26px 0 30px 20px;}
.y_detailscon2leftcon dl.rightdls dd{position: relative;float: left;width: 50px;height: 76px;margin-top: 16px;margin-left: 40px;text-align: center;}
.y_detailscon2leftcon dl.rightdls dd span{display: block;width: 44px;height: 46px;background: url(../../images/account/icons1.png) no-repeat;margin-bottom: 6px;margin-left: 3px;}
.y_detailscon2leftcon dl.rightdls dd i{float: left;margin: 6px 0 0 16px;display: inline-block;width: 16px;height: 16px;background: url(../../images/index/icon.png) no-repeat;background-position:-82px 0px;}
.y_detailscon2leftcon dl.rightdls dd a{font-size: 12px;color: #3d3c3b;line-height: 26px;}
.y_detailscon2leftcon dl.rightdls dd em{position: absolute;left: -28px;width: 90px;display: block;height: 28px;}
.y_details_con2rightscroll ul li{height: 64px;border-bottom: 1px solid #e6e6e6;padding-left: 10px;line-height: 64px;font-size: 12px;color: #555555;}
.y_InvestmentDetails  .y_details_con2rightscroll ul li{height: 32px;border-bottom: 1px solid #e6e6e6;padding-left: 70px;line-height: 32px;font-size: 14px;color: #666;}
ul.y_details_con2rightscrollt li{height: 20px;line-height: 20px;font-size: 12px;padding-left: 10px;color: #555555;margin-top: 18px;}
.y_InvestmentDetails  ul.y_details_con2rightscrollt li{padding-left: 70px;line-height: 34px;height: 32px;font-size: 14px;color: #666;}
.y_details_con2rightscroll ul li dd,ul.y_details_con2rightscrollt li dd{width: 90px;float: left;}
.y_InvestmentDetails .y_details_con2rightscroll ul li dd{width: 120px;padding-left: 58px;text-align: left;}
.y_InvestmentDetails ul.y_details_con2rightscrollt li dd,.y_InvestmentDetails .y_details_con2rightscroll ul li dd.y_dd_times{width: 180px;text-align: center;padding-left: 0px;}
.y_details_con2rightscroll ul li dd p{line-height: 36px;}
.y_details_con2rightscroll ul li dd p.pmiaos{color: #888888;line-height: 26px;}
.y_details_con2rightscroll ul li dd .dd_phones{display:inline-block;width:11px;height:15px;padding-left:5px;top: 2px;position: relative;background:url(../../images/account/bgy.png) no-repeat 5px -153px;}
.y_pluss{cursor: pointer;display: inline-block;width: 35px;height: 35px;background: url(../../images/account/add.jpg) no-repeat;position: absolute;left:212px;top:41px;}
.y_subtracts{cursor: pointer;display: inline-block;width: 35px;height: 35px;background: url(../../images/account/sub.jpg) no-repeat;position: absolute;left:0px;top: 41px;}
.y_assessmentdls{height: 120px;margin-top: 16px;font-size: 14px;color: #555555;}
.y_assessmentdls dd{height: 30px;line-height: 30px;position: relative;}
.y_assessmentdlstitle em{display: inline-block;width: 14px;height: 14px;background: url(../../images/password/i.png) no-repeat;position: relative;left: 8px;top: 2px;padding-right: 12px;}
.startspans{display: inline-block;overflow: hidden;height: 18px;position: relative;top: 2px;}
.startspans1{width: 20px;}
.startspans2{width: 50px;}
.startspans3{width: 70px;}
.startspans4{width: 100px;}
.startspans5{width: 128px;}
.startspans i{display: block;width: 123px;height: 18px;background: url(../../images/account/start.png) no-repeat;}
.y_assessmentrate{display: inline-block;width: 153px;height: 14px;background:url(../../images/account/jdbj.png) no-repeat;position: relative;top: 2px;}
.y_assessmentrate i{display: block;width: 122.4px;background: #0e90d2;height: 14px;-webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-top-left-radius: 3px;-moz-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px; border-top-left-radius:3px;}
.y_assessmentdls dd .y_tooltips{position: absolute;width: 250px;line-height: 22px;color: #555555;font-size: 12px;padding: 10px 12px;border: 1px solid #cbcbcb;border-radius: 3px;bottom: 40px;left: -60px;background: #fff;z-index: 1;display: none;}
.y_assessmentdls dd .y_tooltips i{position: absolute;width: 17px;display: block;height: 10px;background: url(../../images/password/top_bottom.png) no-repeat;bottom: -10px;left: 125px;}
.y_details_con1leftul2 li .y_tooltips{position: absolute;line-height: 22px;color: #555555;font-size: 12px;padding: 6px 8px;border: 1px solid #cbcbcb;border-radius: 3px;bottom: 59px;left: 180px;background: #fff;z-index: 1;display: none;}
.y_details_con1leftul2 li .y_tooltips i{position: absolute;width: 17px;display: block;height: 10px;background: url(../../images/password/top_bottom.png) no-repeat;bottom: -10px;left: 80px;}
.y_assessmentdlsbottom{width:240px;height:52px;line-height: 52px;border-bottom: 1px dashed #e4e4e4;margin-left: 22px;padding-left: 20px;background: url(../../images/account/icons1.png) no-repeat -265px 20px;color: #555555;font-size: 14px;}
.y_assessmentdlsbottom a{color: #ff9000;font-size: 14px;}
.y_details_con2right h2 a{color: #12adff;font-size: 12px;float: right;}
/*项目详情  end*/
/*相关资料  start*/
.y_informationDetails h2 span{color: #555;font-weight:normal;padding-left: 10px;}
.y_informationDetailsul li{cursor:pointer;float:left;margin:0 30px;height: 38px;line-height: 38px;text-align: center;font-size: 14px;}
.y_informationDetailsul{overflow: hidden;height: 40px;margin: 10px 0 42px}
.y_informationDetailsul li.informationliclick{color: #0697da;border-bottom: 2px solid #0697da;}
.notloginp{color: #b1b0b0;font-size: 26px;text-align: center;margin: 48px 0 20px;}
.notlogina{margin-left: 205px;background-color: #0697da;}
.y_detailscon2leftcon{display: none;}
.reminderss{display:none;position:absolute;left: 0;top: 76px;width: 214px;line-height: 28px;color: #555;padding-left: 10px;height: 28px;border: 1px solid #fae5ba;background: #ffffe0 url(../../images/bank/jgicon.png) no-repeat  5px 6px;padding-left:30px;z-index: 1;font-size: 12px;}
.imaginaryy_h3_color{border-top: 1px dashed #e4e4e4;padding-top: 15px;}
.y_h3_colormb{margin-bottom: 28px;}
.riskscheme{width: 630px;border-top: 1px solid #e4e4e4;height: 62px;line-height: 62px;color: #555555;font-size: 18px;margin-left: 18px;margin-top: 26px;}
/*相关资料  end*/
/*我的奖励 start*/ 
.y_awardLists{width: 100%;overflow: hidden;}
.y_awardLists li{float: left;margin-right: 39px;width:170px;height:172px;}
.y_awardLists .c_red_one a{display:block;width:144px;color:#fff;font-size:16px;text-align:center;line-height:172px;height:100%;background:url(../../images/account/award.png) no-repeat;}
.y_awardLists .c_red_two a{display:block;width:100%;color:#fff;font-size:16px;text-align:center;height:100%;line-height:220px;background:url(../../images/account/award1.png) no-repeat;}
.record_conss_awardTitle{width: 100%;overflow: hidden;margin-bottom: 40px;height: 20px;}
.record_conss_awardTitle li{float: left;padding:0 6px;height: 20px;line-height: 20px;border-left: 2px solid #8d8d8d;}
.record_conss_awardTitle li span{cursor:pointer;display: block;padding: 0px 8px;color: #333333;font-size: 12px;}
.record_conss_awardTitle li.award_spans span{background-color: #12adff;color: #fff;}
/*我的奖励 end*/ 

/******************************ycy找回交易密码手机、邮箱、密保验证*********************************/
input:focus{outline:none;}
.c_mobile_valid{padding:30px 0 0 60px;}
.c_mobile_step li{width:326px;float:left;position:relative;line-height:34px;font-size:14px;color:#555555;}
.c_mobile_step .c_step_last{width:80px;}
.c_mobile_step li span{text-align:center;line-height:32px;display:block;width:32px;height:32px;background:url(../../images/password/step.png) no-repeat -36px;color:#fff;margin-left: 10px;_margin-left:5px;}
.c_mobile_step .c_step_two span{margin-left:24px;_margin-left:12px;}
.c_mobile_step .c_step_this span{background-position:2px;}
.c_mobile_step li b{display:block;position:absolute;top:16px;left:64px;width:264px;height:2px;background:#B9B9B9;}
.c_mobile_info,.c_tel_info{width:654px;margin:40px 0 0 20px;font-size:14px;color:#555;border-bottom:1px solid #DEDEDE;line-height:40px;}
.c_mobile_info i{color:#0697da;font-style:normal;}
.c_clear{clear:both;}
.c_tel_info{border:none;padding-left:50px;margin-top:30px;}
.c_tel_info label{margin-right:20px;}
.c_get_code{cursor:default;display:inline-block;width:104px;font-size:12px;border:1px solid #CCCCCC;text-align:center;height:30px;line-height:30px;background:#E6E6E6;color:#4F4F4F;}
.c_set_pwd{padding:0;}
.c_set_pwd label,.c_question_info label{display:inline-block;width:86px;text-align:right;}
.c_mobile_pwd,.c_mobile_repwd,.c_question_pwd{margin-top:20px;border-style:none;width:200px;height:30px;padding:4px 10px;border:1px solid #D6D6D6;}
.c_mobile_confirm{border-style:none;width:142px;height:34px;color:#fff;font-size:14px;background:#0697DA;border-radius:2px;box-shadow:0 2px 0px #056FA0;margin: 20px 0 0 106px}
.c_valid_hide span{display:none;padding-left:20px;color:red;font-size:12px;}
.c_pwd_success{line-height:32px;width:200px;margin:60px auto;padding-left:60px;background:url(../../images/password/success.png) no-repeat 0 8px;color:#555555;}
.c_pwd_success a{display:block;color:#555555;}
.c_email_info{width:496px;}
.c_go_email a{display:inline-block;margin-right:20px;}
.c_go_email{margin-top:36px;}
.c_go_email .c_go_look{color:#fff;background:#12ADFF;width:120px;height:38px;border-radius:2px;line-height:38px;text-align:center;}
.c_valid_instruc{display:inline-block;float:left;margin-top:14px;width:16px;height:14px;background:url(../../images/password/mobile_valid.png) no-repeat;}
.c_no_recieve{font-weight:normal;font-size:12px;}
.c_code_msg{width:212px;height:36px;border-radius:4px;border-style:none;padding:0 4px;border:1px solid #C8C8C8;}

/*计算器*/
.calculatorCpmBox{width: 874px;height: 454px;background: #ffffff;position: fixed;z-index:1000;display:none;}
.calculatorCpmBox h1{font-weight: normal;font-size: 14px;color: #555555;height: 40px;line-height: 40px;padding-left: 14px;border-bottom: 1px solid #d6d6d6;position: relative;}
.calculatorCpmBox h1 img{position: absolute;top:11px;right:21px;-webkit-transition: all 1s ease-in-out;cursor: pointer;padding:3px;}
.calculatorCpmBox h1 img:hover{-webkit-transform-origin: center center;
-webkit-transform: rotate(360deg);}
.calculatorCpmBottom{position: fixed;z-index: 999;background: rgb(0,0,0);opacity:0.6;filter:Alpha(Opacity=60);width: 100%;top:0;left: 0;display: none;}
.calculatorCpmLeft{float: left;width: 271px;padding: 30px 0px 0 13px;}
.calculatorCpmLeft label{color: #333333;font-size: 14px;margin-right: 10px;}
.calculatorCpmLeft span{color: #777777;font-size: 14px;position: relative;left:-30px;}
.calculatorCpmLeft input,.calculatorCpmLeft select{width: 180px;height: 35px;border: 1px solid #d9d9d9;color: #777777;font-size: 14px;line-height: 40px;padding-left: 5px;margin-bottom: 18px;outline: none;}
.calculatorCpmLeft input.y_cpmbuttons{width: 140px;height: 40px;text-align: center;line-height: 40px;background: #12adff;color: #fff;border-radius: 2px;border: 0;margin-left: 20px;cursor: pointer;}
.calculatorCpmLeft input.y_cpmresets{width: 86px;height: 40px;text-align: center;line-height: 40px;background: #bebfc0;color: #fff;border-radius: 2px;border: 0;cursor: pointer;}
.calculatorCpmRight{float: right;}
.calculatorCpmRight ul.cpmscroll{width: 566px;margin-top: 30px;margin-right: 15px;height: 288px;overflow-y:auto;}
.calculatorCpmRight ul dd,.calculatorCpmRight ul dl.dd_titlecpm dd{border-bottom: 1px solid #dadada;border-left: 1px solid #dadada;width: 105px;height: 30px;text-align: center;line-height: 30px;font-size: 14px;color: #555555;float:left;}
.calculatorCpmRight ul dl.dd_titlecpm dd{font-weight: normal;background: #f1f1f1;border-top: 1px solid #dadada;}
.calculatorCpmRight ul dl dd.cpmlastdd{border-right: 1px solid #dadada;}
.ul_bottomcpm dd{background: #f1f1f1;}
.libottomcpm{clear:both;background:#eeeeee;width:516px;height:40px;line-height:40px;padding-left:13px;border-bottom:1px solid #dbdad8;border-left:1px solid #dbdad8;border-right:1px solid #dbdad8;color:#333333;font-size:14px;}
.libottomcpm span{color: #ff7800;}
/*投标弹框*/
.calculatorCpmBox1{width: 660px;padding-bottom: 30px;background: #ffffff;position: fixed;z-index:1000;}
.calculatorCpmBox1 h1{font-weight: normal;font-size: 14px;color: #555555;height: 40px;line-height: 40px;padding-left: 14px;border-bottom: 1px solid #d6d6d6;position: relative;}
.calculatorCpmBox1 h1 img{position: absolute;top:11px;right:21px;-webkit-transition: all 1s ease-in-out;cursor: pointer;padding:3px;}
.calculatorCpmBox1 h1 img:hover{-webkit-transform-origin: center center;
-webkit-transform: rotate(360deg);}
.calculatorCpmBox1 .payformcpm .y_spanspay_usable{font-size: 14px;color: #fd7923;padding-left: 10px;padding-right: 30px;}
.calculatorCpmBox1 .payformcpm{padding-top:36px;padding-left:34px;color:#000000;}
.calculatorCpmBox1 .payformcpm label{font-size: 14px;}
.calculatorCpmBox1 .y_moneypaycpm{display: inline-block;width: 118px;height: 38px;border: 1px solid #c9c9cf;padding-left:20px;line-height: 38px;color: #fd7923;font-size: 14px;margin-left: 8px;margin-top: 20px;}
.calculatorCpmBox1 .y_mycunit{display: inline-block;height: 32px;color: #b4b3b3;font-size: 14px;line-height: 32px;border-left: 1px solid #d8d7d7;font-style: normal;position: relative;left: -33px;padding-left: 8px;}
.calculatorCpmBox1 .pay_cpmerror{padding-left:18px;font-size:12px;color:#ff5243;margin-left:73px;background:url(../../images/change/err.png) no-repeat 0 1px;line-height:14px;}
.calculatorCpmBox1 .change_true{background: #12adff;color: #fff;line-height: 32px;width: 102px;height: 32px;text-align: center;font-size: 16px;display: block;border-radius: 3px;cursor: pointer;margin-top: 32px;margin-left: 70px;}



.sign{width:179px; background:#12adff; height:59px; float:left; margin-top:33px; border-radius:5px; text-align:center; margin-left:26px;cursor:pointer;}
.sign span{font-size:16px; color:#FFF; position:relative; top:8px;}
.sign_d{background:#FFF; border-radius:5px; width:160px; height:22px; margin:0 auto; margin-top:12px;}