/*弹出窗-标准*/
.qui_pop{position:fixed;z-index:1000;top:50%;left:50%;overflow:hidden;width:510px;height:350px;margin:-175px 0 0 -255px;border-radius:5px;background-color:#fff;}
.qui_pop iframe{width:100%;height:100px;}
.qui_shade{position:fixed;z-index:999;top:0;left:0;width:100%;height:100%;background-color:#000;}
.qui_pop > .tits{height:49px;padding:0 20px;}
.qui_pop > .tits h4{float:left;color:#717171;font:16px/49px Arial,'Microsoft YaHei',simsun,sans-serif;}
.qui_pop > .tits span{display:inline-block;float:left;line-height:40px;}
.qui_pop > .tits em{font-style:normal;}
.qui_pop > .tits a{float:right;width:30px;height:30px;margin-top:12px;margin-right: -8px;border-radius:100%;background:url(../image/pop_close.png) no-repeat center #edf2f6;}
.qui_pop > .tits a:hover{background-color:#e7e7e7;}
/*弹出窗-状态*/
.pop_stats{margin:100px auto 0;padding:0 15px;}
.pop_stats .main{display:inline-block;max-width:88%;font-size:14px;vertical-align:top;*display:inline;*zoom:1;}
.pop_stats .tits{font-size:24px;text-align:left;text-align:left;}
.pop_stats .info{color:#939393;font-size:16px;text-align:left;}
.pop_stats .operation{text-align:left;}
.pop_stats.success .tits{color:#1fae5b;}
.pop_stats.failure .tits{color:#d84141;}
.pop_stats .main_btn{position:relative;display:inline-block;height:35px;margin-right:5px;padding:0 25px;color:#fff;border:0 none;border-radius:5px;line-height:36px;cursor:pointer;text-align:center;}
.pop_stats.success .main_btn{background-color:#1fae5b;}
.pop_stats.failure .main_btn{background-color:#d84141;}
.pop_stats .secondary_btn{position:relative;display:inline-block;min-width:90px;height:36px;color:#717171;border:1px solid #ccc;border-radius:5px;background-color:#fff;font-size:14px;font-weight:bold;line-height:36px;text-align:center;}
.pop_stats .ico{display:inline-block;width:56px;height:56px;margin:7px 10px 0 0;background:no-repeat left top;*display:inline;*zoom:1;}
.pop_stats.success .ico{background-image:url(../image/ico_success.png);}
.pop_stats.failure .ico{background-image:url(../image/ico_failure.png);}
.pop_stats_operation{position:absolute;bottom:0;left:0;width:100%;height:57px;text-align:right;}
.pop_stats_operation a{color:#0075d0;}
.pop_stats_operation a:hover{color:#d84141;}
.alert_info{padding:25px 15px;font-size:14px;}
.alert_info a{color:#005ea7;}
.alert_info a:hover{color:#dd4040;}
.alert_btn{display:inline-block;float:right;width:90px;height:30px;margin-right:10px;color:#717171;border:1px solid #ccc;border-radius:5px;background:no-repeat left top;background-color:#fff;font-size:14px;font-weight:bold;line-height:30px;text-align:center;}
.alert_operation{margin:0 15px;padding:10px 0;border-top:1px solid #eee;text-align:center;}
.alert_operation .ok_btn{display:inline-block;width:87px;height:28px;color:#fff;border:1px solid #12adff;border-radius:3px;outline:none;background:-moz-linear-gradient(top,#12adff,#12adff);background-image:-webkit-linear-gradient(top,#12adff,#12adff);background-image:-ms-linear-gradient(top,#12adff,#12adff);font-size:14px;line-height:28px;resize:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=true，GradientType:0,startColorstr='#12adff',endColorstr='#12adff');}
.alert_operation .no_btn{display:inline-block;width:89px;height:30px;margin-left:20px;color:#525252;border-radius:3px;background-color:#ddd;line-height:30px;text-align:center;}
