.c_mobile_valid li{border:none;}
.c_mobile_info, .c_tel_info{width:auto;}
.c_login_pwd li{height:auto;}
.c_update_detail{display:none;margin-bottom:40px;}
.c_login_pwd .y_forms .y_spans{float: right;margin-left: 0;display:inline-block;width:310px;text-align:left;margin-top: 8px;}
select:focus{outline:none;}
.c_qa,.c_lock_info{width: 212px;height: 38px;padding: 0 4px;border:1px solid #C8C8C8;margin-right: 10px;}
.c_lock_info{padding:0;width: 222px;}
.c_qa_msg{color:#e86969;}
.c_find_way{margin: 0 100px;margin-left: 256px;_margin-left:128px;}
.c_find_way dd{float:left;margin-right:80px;cursor:default;}
.c_find{font-style:normal;cursor:pointer;font-size:14px;}
.c_find:hover{color:#12ADFF;}
.c_account_tel{margin-top: 40px;}
.c_account_tel dd{height:50px;padding-left: 60px;}
.c_account_tel .c_get_code,.c_account_tel .c_telphone{margin:0;}
.c_finds li{border:0;}
.c_flow_text{position: absolute;top: 30px;}
.c_send_success{margin:40px 0 0 70px;font-size:14px;color:#555;}
.c_send_success input{margin-right:10px;width:212px;height:36px;border-radius:4px;border:1px solid #C8C8C8;padding:0 4px;}
.c_go_look input{margin-left: 194px;_margin-left:97px;margin-top:30px;}
.c_email_number{width:212px;height:40px;border:1px solid #C8C8C8;padding:0 4px;margin-right: 10px;}
.c_mobile_confirm{margin-left:104px;_margin-left:52px;}
.c_valid_hide .c_pwd_error{width: 360px;float: right;margin-left: 0;margin-top: 20px;color:#e86969;}
select:focus{outline:none;}
.c_qa,.c_lock_info{width: 241px;height: 36px;padding: 0 4px;border:1px solid #C8C8C8;margin-right: 10px;border-radius:4px;}
.c_lock_info{padding:0;width: 222px;}
.c_tel_info .c_qa_msg,.c_tel_info .c_tel_msg{float: right;width: 320px;margin-left: 0;color: #e86969;}
.c_tel_msg{color:#e86969;}
.c_new_tel{width: 212px;height: 38px;padding: 0 4px;border: 1px solid #C8C8C8;margin-right:10px;}
.c_tel_valid_info{font-size:12px;padding-left: 76px;height: 30px;margin-top: 6px;padding-left: 104px;}
.y_accountright_bottom .y_account_div_a a{color:#fff;border-radius:2px;background:#12ADFF;}
.y_accountright_bottom .y_account_div_a a:hover{background:#12ADFF;}
.c_deal_content .y_account_nav dd span.c_member_icon{background:url(../../images/account/vip.png) no-repeat 0 2px;}
.c_deal_content .y_account_nav .c_invest_this span.c_member_icon{background-position:0 -20px;}
.c_borrow dd .c_datum_icon{background:url(../../images/account/icon_account.png) no-repeat -30px -286px;}
.c_borrow .c_invest_this .c_datum_icon{background-position: 0 -284px;}
.c_borrow dd .c_interaction_icon{background:url(../../images/account/icon_account.png) no-repeat -30px -432px;}
.c_borrow .c_invest_this .c_interaction_icon{background-position: 0 -432px;}
.c_borrow dd .c_counter_icon{background:url(../../images/account/icon_account.png) no-repeat -30px -50px;}
.c_borrow .c_invest_this .c_counter_icon{background-position:0 -46px;}
.c_borrow dd .c_bank_icon{background:url(../../images/account/icon_account.png) no-repeat -30px -93px;}
.c_borrow .c_invest_this .c_bank_icon{background-position:0 -93px;}
.c_borrow dd .c_pay_icon,.c_borrow dd .c_withdraw_icon{background:url(../../images/account/icon_account.png) no-repeat -30px -136px;}
.c_borrow .c_invest_this .c_pay_icon,.c_borrow .c_invest_this .c_withdraw_icon{background-position:0 -136px;}
.c_borrow dd .c_set_icon{background:url(../../images/account/icon_account.png) no-repeat -30px 2px;}
.c_borrow .c_invest_this .c_set_icon{background-position: 0 2px;}
.c_borrow dd .c_money_icon{background:url(../../images/b_money/pay_count.png) no-repeat -30px -132px;}
.c_borrow .c_invest_this .c_money_icon{background-position: 0 -132px;}
.c_borrow dd .c_site_icon{background:url(../../images/b_money/pay_count.png) no-repeat -30px -232px;}
.c_borrow .c_invest_this .c_site_icon{background-position: 0 -232px;}
.y_account_right_top{padding:0;}
.y_account_right_top li{margin-top:40px;}
.y_account_right_top li .y_account_rightula4{background-position: 0 -864px;}
.y_account_right_top li .y_account_rightula5{background-position: 0 -1048px;}
.y_account_right_top li .y_account_rightula6{background-position: 0 -1172px;}
.y_account_right_top li .y_account_rightula4_yes{background-position: 0 -925px;}
.y_account_right_top li .y_account_rightula5_yes{background-position: 0 -987px;}
.y_account_right_top li .y_account_rightula6_yes{background-position: 0 -1109px;}

.c_update_type,.c_update_type2{margin: 0 100px;margin-left: 320px;_margin-left:160px;}
.c_update_type dd,.c_update_type2 dd{float:left;margin-right:80px;cursor:default;}
.c_code_msg,.c_no_recieve,.c_valid_content,.c_mobile_confirm{display:block;}
