@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
	font-family:"Microsoft YaHei","arial";
}
body{color:#666;font-size:14px;background-color:#f5f5f5;}
fieldset,
img {
    border:0; 
}
em,i{font-style: normal;}
a{
    text-decoration:none;
    color:#666;}
/* body a:hover{
    text-decoration:underline;
    color:#315a8b;
} */
a:focus {
     outline:none;
     -moz-outline:none;
}
input{border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
border: 1px solid #999!important;
height: 44px!important;
line-height: 44px!important;
border-radius: 0 4px 4px 0;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus,select:focus { 

-webkit-box-shadow:0px 0px 0px #e66867 !important; 
outline:none;
} 
select{border:1px solid #ddd;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;padding:6px 5px;}
ul,li{
    list-style:none;}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

/*闭合浮动*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.clearfix {
	zoom: 1;
	display: inline-block;
	_height: 1px
}
.clearfix {
	display: block;
}
/*S--字体样式--*/
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot'); /* IE9*/
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.green{color:#238E23;}
/*E--字体样式--*/
.m5{ margin:5px;}
.m10{ margin:10px;}
.m15{ margin:15px;}
.m20{ margin:20px;}
.m25{ margin:25px;}
.m30{ margin:30px;}
.m35{ margin:35px;}
.m40{ margin:40px;}

.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mt40{ margin-top:40px;}

.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}
.mb30{ margin-bottom:30px;}
.mb35{ margin-bottom:35px;}
.mb40{ margin-bottom:40px;}

.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr25{ margin-right:25px;}
.mr30{ margin-right:30px;}
.mr35{ margin-right:35px;}
.mr40{ margin-right:40px;}

.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}
.ml35{ margin-left:35px;}
.ml40{ margin-left:40px;}

.p5{ padding: 5px;}
.p10{ padding: 10px;}
.p15{ padding: 15px;}
.p20{ padding: 20px;}

.pt5{ padding-top: 5px;}
.pt10{ padding-top: 10px;}
.pt15{ padding-top: 15px;}
.pt20{ padding-top: 20px;}
.pt25{ padding-top: 25px;}
.pt30{ padding-top: 30px;}
.pt35{ padding-top: 35px;}
.pt40{ padding-top: 40px;}

.pl5{ padding-left: 5px;}
.pl10{ padding-left: 10px;}
.pl15{ padding-left: 15px;}
.pl20{ padding-left: 20px;}
.pl25{ padding-left: 25px;}
.pl30{ padding-left: 30px;}
.pl35{ padding-left: 35px;}
.pl40{ padding-left: 40px;}

.pr5{ padding-right: 5px;}
.pr10{ padding-right: 10px;}
.pr15{ padding-right: 15px;}
.pr20{ padding-right: 20px;}
.pr25{ padding-right: 25px;}
.pr30{ padding-right: 30px;}
.pr35{ padding-right: 35px;}
.pr40{ padding-right: 40px;}

.pb5{ padding-bottom: 5px;}
.pb10{ padding-bottom: 10px;}
.pb15{ padding-bottom: 15px;}
.pb20{ padding-bottom: 20px;}
.pb25{ padding-bottom: 25px;}
.pb30{ padding-bottom: 30px;}
.pb35{ padding-bottom: 35px;}
.pb40{ padding-bottom: 40px;}

.pd30{padding:30px;}

.h5{height:5px;}
.h10{height:10px;}
.h15{ height: 15px;}
.h20{ height: 20px;}
.h25{ height: 25px;}
.h30{ height: 30px;}

.float_left{ float: left;}
.float_right{ float: right;}
.hide{ display: none;}
.show{ display: block;}
.position_re{position:relative}
.shadowSty{
	background:#000;
	opacity:.6;
	filter:alpha(opacity=60);
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:9999;
}
/*banner图片*/
#banner_wrap {
	position:relative;
	overflow:hidden;
	width:100%;
	height:450px;
	min-width:1190px;
}
/*资金数据div*/
#data_box{
	width:1000px;
	height:68px;
	background:url(../bg/index_sprite.png) no-repeat 0 -59px;
}
/*首页特色介绍div*/

/*首页 内容，左侧列表，右侧列表*/
#container #content{
	margin-top:20px;
}
#container .left{
	width:702px;
}
#container .right{
	width:280px;
}
/*合作伙伴*/
#partner {
	margin:15px auto 0;
	position:relative;
	width:1000px;
	height:80px;
	border:1px solid #e4e4e4;
}
.currentPath {
	height:30px;
	line-height:30px;
	padding-left:20px;
	font-size:14px;
}
.currentPath a{
	color:#666;
}
#pageitem{ margin-top:10px;padding:6px 0;}

.msg24{
	border-radius:4px;
	background:#CC9966;
}

.noBtn{background: none;border:none;color: #c83e41;padding: 0 0 0 10px;cursor:pointer;}
.noBtn:focus {outline: 0;}
.noBtn:hover{text-decoration: underline;}
/*投资条件搜索框*/
#invest_searchbox {
	position: relative;
	margin: 10px auto 0;
}
/*借款div*/
#borrow_main { 
	margin-top:10px;
}

/*咨询服务*/
#serviceContainer{width: 1190px; margin:20px auto 15px;}
.service_content{margin-top:10px;}
.service_left{float:left;width:198px;border:1px solid #e7e7e7;background-color:#fff;}
.service_right {float:right;width: 1110px;padding:40px;border:1px solid #e7e7e7;background-color:#fff;}
.service_right .service_subtitle{position:relative;width:1078px;height:30px;font-size:18px;font-weight:bold;padding-bottom:14px;border-bottom:2px solid #e6e6e6;color:#315a8b;}
.service_right .service_subtitle strong{position:absolute;bottom:-2px;display:inline-block;padding-bottom:14px;font-weight:normal;border-bottom:2px solid #315a8b;}

.bg_text{background:url(../bg/memberbg.png) no-repeat -23px -520px;width:43px; height:16px; text-indent:8px;}
.IE6block{display:inline-block;*zoom:1;*display:inline;}
.nopadding{margin:0;}
.b_bold{font-weight:bold;color:#666;}
.w400{width:400px;}
.c_red{color:#d71317;}
.border_gray{border:1px solid #e4e4e4;}
.icon_pwd,.icon_gl,.icon_realname,.icon_email,.icon_phone{
	width:22px; 
	height:22px; 
	background:url(../bg/memberbg.png) no-repeat;
	position:relative;
	top:6px;
	margin-right:24px;
}

.text_center{text-align:center;}
.icon_pwd{background-position:0 -563px;}
.icon_gl{background-position:-32px -563px;}
.icon_realname{background-position:0 -385px}
.icon_email{background-position:-48px -385px;}
.icon_phone{background-position:-24px -385px}
.page{position:relative;left:-9999px;}
.td_time{width:72px;}
.img_auto{display:block; margin:0 auto;}
.J_nomsg{margin:-30px auto 0; width:100px; text-align:center;}


/*--S浮动导航--*/
.float0831 {
	position: fixed;
	top: 80px;
	right: 1px;
	_position: absolute;
	z-index:99;
}
.float0831 A {
	color: #00a0e9
}
.float0831 A:hover {
	color: #ff8100;
	text-decoration: none
}
.float0831 .floatL {
	position: relative;
	width: 28px;
	float: left
}
.float0831 .floatL A {
	text-indent: -9999px;
	display: block;
	font-size: 0px
}
.float0831 .floatR {
	background: url(../bg/float_bg.gif)
}
.float0831 .tp {
	background: url(../bg/float_bg.gif)
}
.float0831 .cn {
	background: url(../bg/float_bg.gif)
}
.float0831 .floatR {
	padding-bottom: 15px;
	width: 130px;
	background-repeat: no-repeat;
	background-position: -131px bottom;
	float: left;
	overflow: hidden
}
.float0831 .tp {
	background-repeat: no-repeat;
	background-position: 0% 0%;
	HEIGHT: 10px
}
.float0831 .cn {
	background-repeat: repeat-y;
	background-position: -262px 0px
}
.float0831 .cn H3 {
	text-indent: -9999px;
	height: 36px;
	font-size: 0px
}
.float0831 .cn UL {
	padding:0 14px;
}
.float0831 .cn UL LI {
	border-bottom: #e6e5e4 1px solid;
	line-height: 24px;
	word-wrap: break-word;
	height: 24px;
	overflow: hidden;
	word-break:normal;
}
.float0831 .titZx {
	background: url(../bg/float_s.gif) no-repeat
}
.float0831 .titDh {
	background: url(../bg/float_s.gif) no-repeat
}
.float0831 .titDc {
	background: url(../bg/float_s.gif) no-repeat
}
.float0831 .icoZx {
	background: url(../bg/float_s.gif) no-repeat
}
.float0831 .icoTc {
	background: url(../bg/float_s.gif) no-repeat
}
.float0831 .icoFf {
	background: url(../bg/float_s.gif) no-repeat
}
.float0831 .icoTl {
	background: url(../bg/float_s.gif) no-repeat
}
.float0831 .btnOpen {
	background: url(../bg/float_s.gif) no-repeat
}
.float0831 .btnOpen_n {
	background: url(../bg/float_s.gif) no-repeat
}
.float0831 .btnCtn {
	background: url(../bg/float_s.gif) no-repeat
}
.float0831 .titZx {
	background-position: 5px -10px
}
.float0831 .titDh {
	background-position: 5px -66px
}
.float0831 .titDc {
	background-position: 5px -124px
}
.float0831 .icoZx {
	background-position: 2px -154px
}
.float0831 .icoTc {
	background-position: 0px -323px
}
.float0831 .icoFf {
	background-position: 2px -213px
}
.float0831 .icoTl {
	padding-left: 20px;
	display: block;
	font-family: "微软雅黑";
	background-position: 2px -266px;
	float: left
}
.float0831 .btnOpen {
	background-position: -30px -396px
}
.float0831 .btnOpen_n {
	background-position: 0px -530px
}
.float0831 .btnCtn {
	background-position: 0px -396px
}
.float0831 .icoZx, .float0831 .icoTc, .float0831 .icoFf {
	padding-left: 28px;
	display: block;
	float: left
}
.float0831 .btnOpen {
	position: relative;
	width: 28px;
	height: 118px;
	top: 80px;
	left: 2px
}
.float0831 .btnOpen_n {
	position: relative;
	width: 28px;
	height: 118px;
	top: 80px;
	left: 2px
}
.float0831 .btnCtn {
	position: relative;
	width: 28px;
	height: 118px;
	top: 80px;
	left: 2px
}
.float0831 .btnOpen {
	top: 61px;
	left: 1px
}
.float0831 .btnOpen_n {
	top: 61px;
	left: 1px
}
.float0831 .btnCtn {
	top: 61px;
	left: 2px
}
.float0831 ul li h3.titDc A {
	width: 80px;
	display: block;
	height: 36px
}
.float0831  ul li.top {
	border-bottom: #ace5f9 1px solid;
	height: 30px;
	line-height: 30px;
}
.float0831 ul li.bot {
	border-bottom-style: none
}
.float0831 ul.webZx {
	padding:0;
	width: 164px;
	background: url(../images/webZx_bg.jpg) no-repeat;
	height: 65px;
}
.float0831  ul li.webZx-in {
	border-bottom-style: none;
	padding:8px 0 0 5px;
	height: 50px;
}
/*--E-浮动导航--*/


/*-S-找回密码*/
.getpwd_content {
	width:1000px;
	margin:10px auto 0;
}
.getpwd_content_title {
	font-size:14px;
}
.getpwd_content_title span {
	color:#999999;
}
.getpwd_content_title .getpwd_p {
	width:14px;
	height:17px;
	display:inline-block;
	background:url(../bg/dl_zcbg.png) no-repeat scroll 0 -348px transparent;
	position:relative;
	top:3px;
}
.getpwd_con {
	margin:10px auto 0;
	border:1px solid #ccc;
	height:450px;
	background:#fff;
}
.getpwd_con .get_type{ width:780px;height:50px; margin:20px auto 0;}
.getpwd_con .get_type .get_type_item{
	width:360px;
	height:145px;
	background:url(../bg/getpwdbg.png) no-repeat -313px -355px;
	float:left;
	border-radius:4px;
}
.getpwd_con .get_type .get_type_item_e{
}
.getpwd_con .get_type .get_type_item_p{
	margin-left:60px;
	*display:inline;
}
.getpwd_con .item_img{
	display:block;
	width:178px;
	height:138px;
	margin-left:1px;
	background:#eee url(../bg/getpwdbg.png) no-repeat;
}
.getpwd_con .em_item_img{
	background-position:-35px -192px;
}
.getpwd_con .ph_item_img{
	background-position:-221px -192px;
}
.getpwd_con .get_type_item .right_span{
	float:right;
	padding:20px 0;
	width:177px;
	height:98px;
	text-align:center;
}
.getpwd_con .get_type_item .right_span h3{
	line-height:60px;
	font-size:20px;
	color:#666;
}
.getpwd_con .get_type_item .right_span a{
	display:block;
	margin:0 auto;
	width:100px;
	height:30px;
	line-height:30px;
	color:#fff;
	background:url(../bg/getpwdbg.png) no-repeat -550px -250px;
	text-decoration:none;
}
.getpwd_con .get_type_con{
	width:222px;
	height:400px;
	float:left;
	padding-top:40px;
	background:url(../bg/get_type_conbg.png) repeat-y;
}
.getpwd_con  .emailbtn,.getpwd_con  .phonebtn{
	display:block;
	margin:10px auto 0;
	width:183px;
	height:49px;
	line-height:49px;
	color:#666;
	text-align:center;
	font-size:16px;
	background:url(../bg/getpwdbg.png) no-repeat  -50px -413px;
	text-decoration:none;
}

.getpwd_con .btn_active{
	color:#fff;
	background-position: -48px -355px;
}

.getpwd_con .text_center{margin-top:20px;text-align:center; font-size:14px; line-height:35px; color:#999;padding-bottom:20px;}
.getpwd_con .text_center b{ font-size:20px; color:#999;}
.getpwd_con .get_content{ 
	float:right;
	width:775px;
	padding:20px 0;
}

.get_form{
	width:620px;
	margin:90px auto 0;
}
.getpwd_con .get_lc{
	margin:0 auto;
	width:710px;
	height:50px;
	background:url(../bg/getpwdbg.png) no-repeat;
}
.getpwd_con .get_lc ul{
	padding-top:50px;
	margin-top:20px;
	width:710px;
}
.getpwd_con .get_lc ul li{
	float:left;
	width:230px;
	text-align:center
}
.getpwd_con .get_lc ul li.active{
	color:#d71317;
}
.getpwd_con .get_lc ul li.li2{
	text-indent:15px;
}
.getpwd_con .get_lc ul li.li3{
	text-indent:40px;
}

.getpwd_con .lc_one{
	background-position:-10px -15px;
}
.getpwd_con .lc_two{
	background-position:-10px -70px;
}
.getpwd_con .lc_three{
	background-position:-10px -120px;
}
.get_content ul{ 
	width:340px; 
	margin:10px auto 0;
}
.get_content li{padding:6px 0; position:relative;}
.get_content li .label_tit{ width:70px;display:inline-block; text-align:right;padding-right:10px;}
.get_content li label.error{position:absolute; left:315px;width:200px; top:9px;}
.get_content input{ width:210px;}
.get_content li .nextbtn{ margin-left:80px; height:38px; width:130px;}
body .p_message{ padding-left:80px;}
body .vali_input{ width:80px;margin-right:5px;}
/*-E-找回密码*/
.IE6show{text-align:center; line-height:30px;font-size:16px; background:#000; color:#fff;}