@charset "utf-8";
@import url(comm.css);
*{margin:0;padding:0;font-family:microsoft Yahei;color:#858797;list-style:none;}
img{border:none;}
a{text-decoration:none;color:#333;}
a:hover{color:##0198F1;}
body{background:#fff;}
.c_banner{height:734px;width:100%;min-width:998px;_width:expression(document.documentElement.clientWidth>998?document.documentElement.clientWidth:998);}
.c_banner a{height:100%;width:100%; min-width:998px;_width:expression(document.documentElement.clientWidth>998?document.documentElement.clientWidth:998);position:relative;}
.c_banner_top{background:url(../../images/banner_bj.jpg);position:absolute;top:0;height:666px;width:100%;}
.c_banner_bottom{position:absolute;bottom:0;width:100%;height:68px;background:url(../../images/banner_bottom.png);
background-size:cover;}
.c_banner_content{position:absolute;width:998px;height:100%;z-index:2;left:452.2px;}
.c_banner_content img{margin-top:64px;}
.c_main_content{width:998px;margin:48px auto 0;}
.c_team_left,.c_team_right,.c_money_left,.c_money_right,.c_trust_left,.c_trust_right,.c_security_left,.c_security_right{float:left;}
.c_team_left,.c_trust_left{width:464px;margin-right:36px;}
.c_team_title,.c_money_title{margin-top:68px;}
.c_team_right,.c_trust_right{width:492px;}
.c_money_right{width:440px;}
.c_team_server{position:relative;height:387px;background:url(../../images/mobile.png) no-repeat 20px 130px;}
.c_team_instruct,.c_money_instruct,.c_trust_instruct,.c_security_instruct{padding-left: 10px;line-height: 30px;font-size: 18px;margin-top: 10px;padding-right: 10px;}
.c_team_server img{position:absolute;}
.c_finance{top:40px;}
.c_user{left:262px;top:74px;}
.c_service{top:0;right:0;}
.c_clear{clear:both;}
.c_manage_money,.c_trust,.c_security{margin-top:167px;}
.c_money_left{width:507px;margin-right:40px;}
.c_money_img{position:relative;height:387px;background:url(../../images/money_bj.png) no-repeat bottom;}
.c_money_cloud,.c_money_invest{position:absolute;}
.c_money_invest{top:0;left:63px;}
.c_money_cloud{top:190px;left:84px;}
.c_money_title{padding-left:120px;}
.c_money_instruct{padding:0;}
.c_trust_img{position:relative;height:388px;background:url(../../images/trust_book.png) no-repeat right 190px;}
.c_pc{width:216px;height:300px;position:absolute;background:url(../../images/trust_right.png) no-repeat 0 -6px;margin-left:16px;}
.c_invest_man{position:absolute;bottom: 20px;
right: 26px;width:225px;height:136px;background:url(../../images/trust_right.png) no-repeat -226px -236px;}
.c_loan_man{position:absolute;bottom: 130px;
right: 50px;width:130px;height:94px;background:url(../../images/trust_right.png) no-repeat -226px -128px;}
.c_trust_title{margin-top:32px;}
.c_security_right{width:492px;}
.c_security_img{height:388px;background:url(../../images/security_img.jpg) no-repeat 80px 40px;}
.c_security_left{width:458px;margin-right:40px;}
.c_security_img div{margin-left: 40px;}
.c_security_title{margin-top:56px;}
.c_invest_momey{margin:120px 0 143px 0;}
.c_invest_momey img{padding-left:237px;}
.c_register_block{height:74px;background:#12adff;width:100%;}
.c_reg_btn{display:block;width:274px;margin:0 auto;}
.c_reg_btn img{margin-top:-24px;}
.c_money_block{background:#232c34;padding-bottom:50px;}
.c_money_content{width:998px;margin:0 auto;position:relative;}
.c_money_content ul,.c_money_content dl{margin-left:60px;}
.c_money_content dd{text-align:center;float:left;width:150px;height:150px;background:url(../../images/money_block.png) no-repeat;margin-right:92px;color:#fff;font-size:18px;}
.c_light{float:left;width:150px;height:100px;margin-right:92px;background:url(../../images/light.png) no-repeat 10px -4px;}
.c_light span{display:block;width:150px;height:8px;background:url(../../images/light.png) no-repeat 10px -4px;}
.c_switch{position:absolute;right:10px;top:0;}
.c_switch_line{display:block;height:64px;width:2px;background:#fff;margin-left: 8px;}
.c_switch_circle{cursor:pointer;width:13px;height:13px;border:3px solid #12aafa;border-radius:50%;}
.c_money_content dl span{display:block;width:80px;height:80px;background:url(../../images/sprits.png) no-repeat;margin-left:36px;*margin-left:0 !important;margin-top:30px;}
.c_money_content .c_rate span{background-position:0 -100px;}
.c_money_content .c_ensure span{background-position:-88px -100px;}
.c_money_content .c_manage_fee span{background-position:-165px -100px;}
.c_money_content .c_day span{background-position:-244px -100px;}