@charset "utf-8";
@import url(comm.css);
body{min-width:1081px;background: #fff; _width:expression(document.documentElement.clientWidth>1081?document.documentElement.clientWidth:1081);font-family:"Microsoft YaHei";font-size:14px;}
/***数据分析页面****/
/*内容区1start*/
.y_dataContentOne{width:100%;height: 703px;border-bottom: 1px solid #b5b5b5;background: #f4f4f4;}
.y_dataContentOneIn{width:1081px;margin:0 auto;}
.y_contentTopLeft{float:left;padding-left: 40px;margin-right: 465px;}
.y_contentTopLeft .y_TopLeftitle1{line-height: 40px;color: #999;font-size: 14px;}
.y_contentTopLeft .y_TopLeftitle1 a{line-height: 40px;color: #999;font-size: 14px;}
.y_contentTopLeft .y_TopLeftitle2{color: #3c3c3c;font-size: 24px;line-height: 36px;font-family: "黑体";font-weight: bold;}
.y_contentTopLeft .y_TopLeftitle3{color: #868686;font-size: 20px;line-height: 56px;}
.y_contentTopRight{float:left;width:384px;height: 124px;border: 1px solid #e5e5e5;background: url(/themes/theme_default/images/data/data_03.png) no-repeat 5px 40px;overflow: hidden;}
.y_contentTopRight li{height: 30px;padding-left: 21px;}
.y_contentTopRight li.y_contentTopRightli1{height:30px;color:#0697da;}
.y_contentTopRight li span{float: left;display:block;color: #3c3c3c;font-size: 13px;line-height: 30px;text-align: center;}
.y_contentTopRight li.y_contentTopRightli1 span{color: #0697da;font-size: 14px;}
.y_spans1{width:96px;}
.y_spans2{width:172px;}
.y_spans3{width:92px;}

.y_lineChart{width:1080px;height: 384px;clear: both;margin-top: 20px;padding-top: 20px;}
/*累计投资金额start*/
.y_area_1_data {padding: 36px 0 18px;overflow: hidden;}
.y_area_1_data a {display: inline;background: #fff;float: left;text-align: center;box-shadow: 0px 2px 1px #ddd;width: 238px;height: 83px;margin-left: 8px;padding-top: 25px;}
.y_color-1 {color: #5dbe58;}
.y_color-2 {color: #57b5e3;}
.y_color-3 {color: #ee7088;}
.y_color-4 {color: #f3b039;}
.y_a_1_d_title {display: block;font-size: 14px;line-height: 16px;margin-bottom: 12px;color: #3c3c3c;}
.y_area_1_data a {text-align: center;}
.y_a_1_d_value {font-size: 36px;line-height: 38px;font-weight: bold;}
.y_a_1_d_value_1 {font-size: 20px;display: none;line-height: 20px;padding-top: 8px;font-weight: bold;color: #fff;}
/*累计投资金额end*/
/*内容区1end*/
/*内容区2start*/
.y_dataContentTwo{width: 1004px;margin: 0px auto;overflow: hidden;}
.y_boxss{position:relative; background: #fff; width: 486px;height: 455px;border-radius: 5px;border: 1px solid #e5e5e5;float: left;margin-top:33px;margin-right: 25px;float: left; }
div.y_boxss1{margin-right: 0;}
.y_boxss h1{height: 42px;color:#333333;background: #f4f4f4;font-size: 16px;line-height: 42px;padding-left: 13px;font-weight: normal;border-bottom: 1px solid #e5e5e5;}
.y_boxs ul{width: 467px;height: 92px;box-shadow: 0px 2px 2px #ddd;position: absolute;left:10px;bottom: 11px;}
.y_boxs ul li{width: 233px;height: 92px;float: left;text-align: center;}
.y_boxs ul li.y_boxssli1{border-right: 1px solid #f0f0f0;}
.y_boxs ul li span{color: #666666;font-size: 15px;line-height: 26px;margin-top: 15px;display:block;}
.y_boxs ul li strong{color: #0697da;font-size: 24px;line-height: 36px;}
.y_boxs ul li strong em{font-style: normal;font-size: 15px;}
.investmentProportion_money{width:486px;height: 270px;}
.investmentProportion_number{width:485px;height: 238px;}
.y_boxss2{width: 1002px;}
.y_boxss2 ul{float: left;background: url(/themes/theme_default/images/data/data_05.png) no-repeat 5px 52px;width: 553px;height: 412px;padding-top: 40px;}
.y_boxss2 ul li{height:60px;color: #3c3c3c;font-size: 14px;position:relative;margin-top: 29px;line-height: 26px;}
.y_boxss2 ul li span{position: absolute;display: block;width: 60px;height: 60px;top:0;text-align: center;color: #fff;line-height: 60px;}
.y_boxss2right{float: left;width: 449px;height: 412px;}
.y_boxss3{width: 316px;height: 372px;}
.y_boxss3_title{width: 316px;height: 329px;}
/*内容区2end*/
/*立即注册按钮*/
.y_register{display: block;width: 314px;height: 60px;border-radius: 5px;background: #0697da;color: #fff;clear: both;line-height: 60px;text-align: center;font-size: 24px;}
.y_registerBox{width:314px;margin: 69px auto 85px;}
.y_register:hover{color:#333;background: #d5d5d5;}
.specialFamily{font-family: "HelveticaNeueLt","Microsoft YaHei","SimHei";}
/***数据分析页面  end****/
