@charset "utf-8";
*{margin:0;padding:0;border:none;font-weight:normal;font-style:normal;list-style:none;}
a{text-decoration:none;color:#333;}
a:hover{color:##0198F1;}
body{min-width:1200px;font-size:14px;font-family:"微软雅黑";color:#333;background-color:#f3422e;position:relative;}
.banner{height:897px;width:100%;position:relative;}
.banner1{height:237px;background:url(../../images/goldhammer/banner1.jpg) no-repeat center 0;}
.banner2{height:115px;background:url(../../images/goldhammer/banner2.jpg) no-repeat center 0;}
.banner3{height:112px;background:url(../../images/goldhammer/banner3.jpg) no-repeat center 0;}
.banner4{height:133px;background:url(../../images/goldhammer/banner4.jpg) no-repeat center 0;}
.banner5{height:151px;background:url(../../images/goldhammer/banner5.jpg) no-repeat center 0;}
.banner6{height:139px;background:url(../../images/goldhammer/banner6.jpg) no-repeat center 0;}
.awl_box{width:1200px;position:relative;margin:0 auto;}
.awl{width:300px;height:350px;background:url(../../images/goldhammer/awl.gif) no-repeat;position:absolute;right:188px;top:-93px;}
.main_content{width:100%;margin:30px auto 0;}
.block_one{height:938px;width:100%;background:url(../../images/goldhammer/award_bj.png) no-repeat center 0;}
.block_one h2{text-align:center;color:#fff;font-size:32px;padding-top:6px;}
.content_three{width:1000px;height:240px;margin:14px auto 0;position:relative;overflow:hidden;}
.list_all{border-radius: 4px;height:240px;color:#fff;margin-left: 88px;}
.block_three .list_all{padding-top: 90px;}
.list{width:808px;height:76px;border-bottom:1px dashed #fff;color:#4c4948;font-size:16px;}
.list dd{height:30px;color: #fff;}
.list_left{float:left;margin-top:14px;width:488px;padding-left:10px;}
.list_right{float:left;margin-top:14px;}
.list .gold_color,.gold_color{color:#0b4477;}
.name{display:inline-block;width:140px;margin-right:10px;}
.egg_box{width:1000px;margin:20px auto 0;height:400px;position:relative;}
.egg{width:265px;height:362px;position:absolute;}
.egg_full,.egg_sub,.egg_sub img,.chip_box div{position:absolute;}
.egg1{top:34px;left:-14px;}
.chip_box{display:none;}
.egg_sub img{width:124px;height:98px;top:-33px;left:32px;display:none;}
.egg_full{height:320px;width:100%;}
.egg1 .egg_full{background:url(../../images/goldhammer/1.png) no-repeat 25px 0;z-index:2;}
.egg1 .egg_full_hover{background-position:-252px 0;}
.egg_sub{width:180px;height:150px;}
.egg1 .egg_sub{background:url(../../images/goldhammer/s1.png) no-repeat;bottom: 46px;left: 42px;z-index:0;}
.chip1_1{width:95px;height:57px;background:url(../../images/goldhammer/chip/chip1_1.png) no-repeat;bottom: 68px;left: -45px;}
.chip1_2{width:61px;height:33px;background:url(../../images/goldhammer/chip/chip1_2.png) no-repeat;bottom: 32px;left: 116px;z-index:5;}
.chip1_3{width:132px;height:48px;background:url(../../images/goldhammer/chip/chip1_3.png) no-repeat;bottom: 56px;right: -78px;}
.chip1_4{width:39px;height:30px;background:url(../../images/goldhammer/chip/chip1_4.png) no-repeat;right: -10px;top: 174px;}
.egg2{top:-22px;left:170px;}
.egg2 .egg_full{width:220px;height:250px;background:url(../../images/goldhammer/2.png) no-repeat 25px 0;z-index:2}
.egg2 .egg_full_hover{background-position:-198px 1px;}
.egg2 .egg_sub{background:url(../../images/goldhammer/s2.png) no-repeat;bottom: 109px;left: 13px;z-index:1;}
.chip2_1{width:95px;height:57px;background:url(../../images/goldhammer/chip/chip2_1.png) no-repeat;top: 84px;left: -90px;}
.chip2_2{width:125px;height:48px;background:url(../../images/goldhammer/chip/chip2_2.png) no-repeat;bottom: 85px;left: 23px;z-index:5;}
.chip2_3{width:42px;height:48px;background:url(../../images/goldhammer/chip/chip2_3.png) no-repeat;bottom: -46px;right: 160px}
.chip2_4{width:56px;height:32px;background:url(../../images/goldhammer/chip/chip2_4.png) no-repeat;right: 55px;top: 131px;z-index:0;}
.egg3{top: 85px;left: 310px;}
.egg3 .egg_full{width:220px;height:280px;background:url(../../images/goldhammer/3.png) no-repeat 25px 0;z-index:2}
.egg3 .egg_full_hover{background-position:-308px 0;}
.egg3 .egg_sub{background:url(../../images/goldhammer/s3.png) no-repeat;bottom: 46px;left: 42px;z-index:0;bottom: 91px;left: 24px;}
.chip3_1{width:93px;height:56px;background:url(../../images/goldhammer/chip/chip3_1.png) no-repeat;bottom: 108px;left: -61px;}
.chip3_2{width:61px;height:33px;background:url(../../images/goldhammer/chip/chip3_2.png) no-repeat;bottom: 83px;left: 97px;z-index:5;}
.chip3_3{width:138px;height:85px;background:url(../../images/goldhammer/chip/chip3_3.png) no-repeat;bottom: 107px;right: -61px;}
.egg4{top:-50px;left:474px;}
.egg4 .egg_full{height:300px;background:url(../../images/goldhammer/4.png) no-repeat 25px 0;z-index:2}
.egg4 .egg_full_hover{background-position:-304px 0;}
.egg4 .egg_sub{background:url(../../images/goldhammer/s4.png) no-repeat;bottom: 72px;left: 26px;z-index:1;}
.chip4_1{width:95px;height:57px;background:url(../../images/goldhammer/chip/chip4_1.png) no-repeat;top: 128px;left: 0;}
.chip4_2{width:125px;height:48px;background:url(../../images/goldhammer/chip/chip4_2.png) no-repeat;bottom: 48px;left: 38px;z-index:5;}
.chip4_3{width:42px;height:48px;background:url(../../images/goldhammer/chip/chip4_3.png) no-repeat;bottom: -23px;right: 177px;}
.chip4_4{width:56px;height:32px;background:url(../../images/goldhammer/chip/chip4_4.png) no-repeat;right: 45px;top: 167px;z-index:0;}
.egg5{top: 85px;left: 630px;}
.egg5 .egg_full{width:220px;background:url(../../images/goldhammer/5.png) no-repeat 25px 0;z-index:2}
.egg5 .egg_full_hover{background-position:-305px 0;}
.egg5 .egg_sub{background:url(../../images/goldhammer/s5.png) no-repeat;bottom: 46px;left: 42px;z-index:0;bottom: 91px;left: 24px;}
.chip5_1{width:93px;height:56px;background:url(../../images/goldhammer/chip/chip5_1.png) no-repeat;bottom: 108px;left: -61px;}
.chip5_2{width:61px;height:33px;background:url(../../images/goldhammer/chip/chip5_2.png) no-repeat;bottom: 83px;left: 97px;z-index:5;}
.chip5_3{width:138px;height:85px;background:url(../../images/goldhammer/chip/chip5_3.png) no-repeat;bottom: 107px;right: -61px;}
.egg6{top:-22px;right:-48px;}
.egg6 .egg_full{width:220px;height:260px;background:url(../../images/goldhammer/6.png) no-repeat 25px 0;z-index:2}
.egg6 .egg_full_hover{background-position:-302px 4px;}
.egg6 .egg_sub{background:url(../../images/goldhammer/s6.png) no-repeat;bottom: 112px;left: 21px;z-index:1;}
.chip6_1{width:99px;height:76px;background:url(../../images/goldhammer/chip/chip6_1.png) no-repeat;bottom: 98px;right: 8px;}
.chip6_2{width:142px;height:60px;background:url(../../images/goldhammer/chip/chip6_2.png) no-repeat;bottom: 43px;right: 59px;z-index:5;}
.tip{width:217px;height:152px;background:url(../../images/goldhammer/tip.png) no-repeat;position:absolute;z-index:10;top: -130px;right: -40px;display:none;}
.egg1 .tip{top: -106px;right: -40px;}
.egg5 .tip,.egg6 .tip{top: -115px;right: -87px;}
.egg4 .tip{top: -77px;right: -59px;}
.tip span{display:block;width:140px;height:63px;margin:0 auto;padding-top:44px;color:#666;}
.egg_hover{position: absolute;width: 160px;height: 227px;top: 53px;left: 50px;cursor:url(../../images/goldhammer/awls.cur),url(../../images/goldhammer/awls.cur),pointer;}
.egg2 .egg_hover{top: 20px;left: 30px;width:140px;height:190px;}
.egg3 .egg_hover{height: 220px;width: 148px;top: 28px;left: 39px;}
.egg4 .egg_hover{height: 200px;width: 130px;}
.egg5 .egg_hover{left: 37px;top: 28px;width: 150px;height: 214px;}
.egg6 .egg_hover{width: 140px;top: 25px;left: 40px;height: 188px;}
.tamp_egg{width:840px;margin:0 auto;}
.tamp_left,.tamp_right{float:left;font-size:16px;color:#fff;line-height:30px;}
.tamp_left{width:254px;margin-right:140px;}
.tamp_right{width:420px;position:relative;}
.small_awl{display:inline-block;position:relative;top:20px;width:69px;height:57px;background:url(../../images/goldhammer/small_awl.png) no-repeat;}
.login_after{margin-top:50px;}
.award_record{height:90px;overflow:hidden;}
.award_record li{overflow:hidden;}
.award_record li span{float:left;color:#ffda65;}
.award_record li em{float:right;margin-right:30px;}
.tamp_right h3{font-size:16px;}
.award_btn{height:84px;width:26px;position:absolute;right: -18px;top: 35px;}
.award_btn span{display:block;width:26px;height:26px;background:url(../../images/goldhammer/record_btn.png) no-repeat;position:absolute;cursor:pointer;}
.award_up{top:0;}
.award_btn .award_down{bottom:0;background-position:0 -60px;}
.login_before a{display:block;width:254px;height:56px;background:url(../../images/goldhammer/tamp_egg.png) no-repeat;margin:70px auto 0;}
.active_rule{background-color:#ffda65;}
.rule_bj{width:100%;height:224px;background:url(../../images/goldhammer/rule_bj.png) no-repeat center 0;}
.rule_content{width:980px;margin:-40px auto;position:relative;}
.rule_title{position:absolute;width:98px;height:113px;background:url(../../images/goldhammer/active_intro.png) no-repeat;left:0;top:0;}
.active_kik{position:absolute;width:167px;height:212px;background:url(../../images/goldhammer/kik.jpg) no-repeat;right:0;top:8px;}
.rule_list{width:700px;padding:0 170px 0 108px;color:#f3422e;line-height:26px;font-size:17px;overflow:hidden;}
.active_content dl{float:left;overflow:hidden;width:585px;}
.active_content{overflow:hidden;margin-top:28px;}
.active_setting{overflow:hidden;}
.active_setting span,.active_content span{float:left;}
.jsd_more{display:block;width:254px;height:58px;background:url(../../images/goldhammer/award_btn.png) no-repeat 0 -200px;color:#ffda65;font-size:20px;text-align:center; line-height:48px;margin:30px 0 160px 138px;}
.jsd_more:hover{background-position:-404px -200px;}
.con_title{margin-top:2px;margin-right:20px;}
.red_packet{position:fixed;z-index:21;display:none;}
.award_goods{padding-top:104px;}
.award_goods p{text-align:center;color:#fffba5;font-size:56px;}
.award_goods p span{font-size:60px;font-weight:bold;}
.award_goods .goods_name{font-size:38px;margin-top:-60px;}
.award_goods .yg_card{margin-top:0px;}
.packet_bj{display:none;background: #000;opacity: 0.65;filter: alpha(opacity=65);position:absolute;top:0;width:100%;z-index:20;}
.award_goods{width:470px;height:190px;background:url(../../images/goldhammer/hb.png) no-repeat;}
.packet_close{position:absolute;text-indent:-9999em;top:2px;right:40px;cursor:pointer;width:20px;height:20px;}
.packet_btn{display:block;width:304px;height:74px;background:url(../../images/goldhammer/award_btn.png) no-repeat 0 -97px;margin:0 auto;}
.complete_data:hover{background-position:-403px -97px;}
.quick_user{background-position:0 0;}
.quick_user:hover{background-position:-403px 1px;}