@charset "utf-8";
* { margin: 0; padding: 0;list-style:none;}
body { font: 16px/1.8 "Microsoft Yahei",verdana;background:#f1f2f2;}
.header{background:#fff;height:80px;background: #fff;width: 100%;position: absolute;z-index: 2;}
#fullPage-nav { _display: none; font-size: 12px;}
#fullPage-nav li { width: 90px; height: 21px; margin: 10px 0 0; vertical-align: middle;}
#fullPage-nav li a { float: right; width: 21px; height: 21px; color: #8F9DA4; text-decoration: none; text-align: right; background: url(../../images/dot.png) 5px 5px no-repeat;}
#fullPage-nav li .active { background-position: 0 bottom;}
#fullPage-nav span { display: none;}
.fullPage-tooltip { float: left; top: 0; margin-right: 5px; font: 12px "Microsoft Yahei"; color: #8F9DA4; line-height: 21px;}
.section { position: relative; overflow: hidden;}
.bg11 { position: absolute; top:15%; width: 100%; height: 850px;opacity: 0;text-indent: -9999px;-webkit-transform: scale(0, 0);transform: scale(0,0); background: url(../../images/sui.png) 50% 0 no-repeat; transition: all 1s;}
.active .bg11{opacity: 1;-webkit-transform: scale(1, 1);transform: scale(1, 1);transition-delay: 0.3s;}
.hgroup,.ready{ position: absolute; width: 100%; height: 304px; top: 42%;  text-indent: -9999px; background: url(../../images/center_text.png) 50% 0 no-repeat; opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
.shadow_bj{position:absolute;width:100%;height:100%;background:url(../../images/divided.png) 50% 0 no-repeat;}
.bg61 { position: absolute; top: -454px; width: 100%; height: 545px; background: url(../../images/bg61.png) 50% 0 no-repeat; transition: all 1s;}
.bg62 { position: absolute; left: 10%; bottom: 28%; width: 520px; height: 284px; margin-left: -527px;  transition: all 1s;opacity:0;}
.txt6 { position: absolute; left: 90%; bottom: 28%; width: 447px; height:263px;margin-left: 90px; opacity: 0; transition: all 1s;}
/* CSS3过度及动画 */
.active strong, .active h3 { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .p1 { opacity: 1; transition-delay: 1.6s;}
.active .bg12 { bottom: 90px; opacity: 1; transition-delay: 0.7s; }
.active .bg13 { bottom: 0; opacity: 1; transition-delay: 0.7s;}
.active .hgroup,.active .ready { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1s;}
.active .ready{transition-delay: 3s;}
.active .bg21 { opacity: 1; margin-left: -608px; transition-delay: 0.7s;}
.active .bg23 { bottom: 15%; transition-delay: 0.7s;}
.active .bg22 { margin-left: -280px; opacity: 1; transition-delay: 0.7s;}
.active .bg61 { top: 0; transition-delay: 0.7s;}
.active .bg62 { left: 52%; opacity: 1; transition-delay: 1.4s;}
.active .txt6 { left: 52%; opacity: 1; transition-delay: 1.4s;}
/* for lt ie 10 */
.ltie10 strong, .ltie10 h3 { opacity: 1; transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10 .p1 { opacity: 1; transition-delay: 9s;}
.ltie10 .bg12 { bottom: 90px; opacity: 1; transition-delay: 0.7s; }
.ltie10 .bg13 { bottom: 0; opacity: 1; transition-delay: 0.7s;}
.ltie10 .hgroup { opacity: 1; transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10 .mail { top: 25px; transition-delay: 0.7s;}
.ltie10 .p11 { opacity: 1; transition-duration: 1s; transition-delay: 2s;}
.ltie10 .bg21 { opacity: 1; margin-left: -608px; transition-delay: 0.7s;}
.ltie10 .bg23 { bottom: 15%; transition-delay: 0.7s;}
.ltie10 .bg22 { margin-left: -280px; opacity: 1; transition-delay: 0.7s;}
.ltie10 .p3 { margin-left: -480px; opacity: 1; transition-delay: 0.7s;}
.ltie10 .bg31, .ltie10 .bg32 { opacity: 1; transition-delay: 1s;}
.ltie10 .bg33 { margin-left: -120px; opacity: 1; transition-delay: 0.7s;}
.ltie10 .bg61 { top: 0; transition-delay: 0.7s;}
.ltie10 .bg62 { left: 50%; opacity: 1; transition-delay: 0.7s;}
.ltie10 .txt6 { left: 50%; opacity: 1; transition-delay: 0.7s;}

.section1{background-color:#ffdf12;}
.section2{background-color:#ff5534;}
.section3{background-color:#48d2c9;}
.section4{background-color:#7286ec;}
.section5{background-color:#74c359;}
.section6{background-color:#cb99ff;}
.bg_bottom{width:100%;height:470px;background:url(../../images/bg_bottom.png) 50% 0 no-repeat;position:absolute;bottom:0;z-index:4;}
.jsd_text{top:24%;}
.two_left{width:462px;height:479px;background:url(../../images/two_left.png) no-repeat;}
.two_right{width:462px;height:479px;background:url(../../images/two_right.png) no-repeat;}
.active .two_left{left:48%;top:10%;}
.active .two_right{left:50%;top:40%;}
.three_left{width:462px;height:437px;background:url(../../images/three_left.png) no-repeat;}
.three_right{width:507px;height:353px;background:url(../../images/three_right.png) no-repeat;}
.active .three_left{left:48%;top:18%;}
.active .three_right{left:50%;top:38%;}
.four_left{width:462px;height:437px;background:url(../../images/four_left.png) no-repeat;}
.four_right{width:507px;height:353px;background:url(../../images/four_right.png) no-repeat;}
.active .four_left{left:49%;top:18%;}
.active .four_right{left:48%;top:42%;}
.four_right a{display:block;width:400px;height:259px;position:absolute;top:-170px;right:-106px;background:url(../../images/cloud_link.png) no-repeat;}
.four_right a img{position:absolute;top:94px;left:-36px;-webkit-animation: swing 1s linear infinite alternate;-moz-animation: swing 1s linear infinite alternate;animation: swing 1s linear infinite alternate;-webkit-transform-origin: 100% 100%;transform-origin: 100% 100%;}
.five_content{width:1229px;height:437px;background:url(../../images/five_content.png) 50% 0 no-repeat;}
.five_content a{width:215px;height:137px;display:block;position:absolute;top:86px;right:30px;background:url(../../images/cloud_link2.png) no-repeat;}
.five_content a img{position:absolute;left:-50px;top:-6px;-webkit-animation: swing 1s linear infinite alternate;-moz-animation: swing 1s linear infinite alternate;animation: swing 1s linear infinite alternate;-webkit-transform-origin: 100% 100%;transform-origin: 100% 100%;}
.active .five_content{left:46%;top:24%;}
.six_left{width:445px;height:446px;background:url(../../images/six_left.png) no-repeat;}
.six_right{width:522px;height:460px;background:url(../../images/six_right.png) no-repeat;}
.active .six_left{left:48%;top:18%;}
.active .six_right{left:50%;top:34%;}
@media (max-height:700px){
	.jsd_text{background-size:660px 240px;}
	.active .six_right{left:50%;top:20%;}
}
@-webkit-keyframes swing{20%{-webkit-transform:rotate(12deg)}40%{-webkit-transform:rotate(-10deg)}60%{-webkit-transform:rotate(5deg)}80%{-webkit-transform:rotate(-5deg)}100%{-webkit-transform:rotate(0deg)}}
@-moz-keyframes swing{20%{-moz-transform:rotate(12deg)}40%{-moz-transform:rotate(-10deg)}60%{-moz-transform:rotate(5deg)}80%{-moz-transform:rotate(-5deg)}100%{-moz-transform:rotate(0deg)}}
@keyframes swing{20%{transform:rotate(12deg)}40%{transform:rotate(-10deg)}60%{transform:rotate(5deg)}80%{transform:rotate(-5deg)}100%{transform:rotate(0deg)}}