@charset "utf-8";
@import url(comm.css);
*{margin:0;padding:0;font-family:microsoft Yahei;list-style:none;font-size:14px;}
a{color:#333333;}
em{font-style: normal;}
body{min-width:1000px;font-size:14px;font-family:"微软雅黑";color:#333;}
/*头部*/
.headerTop{min-width:1000px;height:50px;border:1px solid #DDDDDD;}
.headerTop a{color:#333;}
.header a{color:#333;}
.headerTop a{color:#333;}
.topContent{width:100%; min-width:1000px;margin:0 auto;width:1000px;}
.topContent a,.topContent span{font-size:12px;}
.topContent dl{float:right;}
.logo_nav_MemberCenter dl{float：left;}
.topContent dd{display:inline-block;margin-right:20px;height:50px;line-height:50px;float:left;font-size:12px;}
.topContent .top_last{margin-right:0;}
.topContent .c_mobile{margin-right:0;padding-left:15px;background:url(../../images/header_footer/mobile.jpg) no-repeat 0 16px;}
.header{width:100%; min-width:1000px; height:80px;}
.logo_nav{min-width:1000px;width:1000px;height:80px;margin:0 auto;}
.logo{display:block;float:left;width:240px;height:100%;background:url(../../images/header_footer/logo.png) no-repeat 0 14px;}
.logo3{width: 208px;}
.nav{width:740px;height:100%;float:right;position: relative;}
.nav_MemberCenter1{width:185px;float: left;border-left: 1px solid #e8e8e8;height: 32px;margin-top: 28px;padding-left: 30px;}
.logo_nav_MemberCenter .nav_MemberCenter{float: left;width: 346px;padding-left: 120px;}
.logo_nav_MemberCenter .nav_MemberCenter1 dd.top_last{padding:0;}
.nav dd{float:left;height:100%;line-height:80px;width:96px;text-align:left;}
.logo_nav_MemberCenter .nav_MemberCenter dd{width: 115px;}
.nav dd a{display:block;width:100%;height:100%;text-align: center;}

.nav .top_last,.nav_MemberCenter1 .top_last{width:86px;height:32px;line-height:32px;text-align:center;padding:24px 0 26px;}
.nav .top_last a,.nav_MemberCenter1 .top_last a{width:86px;height:32px;background:#12adff;font-size: 14px;color:#fff;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;}
.nav dd a:hover,.friendLink a:hover,.custom a:hover{color:#0198F1;}
.nav .top_last a:hover,.nav_MemberCenter1 .top_last a:hover{background:#D5D5D5;color:#676d70;}
.nav dd a,.reTitle,.relativeTitle{font-size:16px;}
.nav .top_register,.nav_MemberCenter1 .top_register{margin-right:10px;}
.nav .top_register a,.nav_MemberCenter1 .top_register a{background:#dbdbdb;color:#676d70;}
.nav dd .c_nav_this{color:#0198F1;}
.nav dd .c_nav3_this{color:#0697da;background: url(../../images/my_icon.png) no-repeat 6px 35px;}
.c_servive{float:left;}
.c_servive li{float:left;height:50px;line-height:50px;margin-right:20px;font-size:12px;}
.topContent .c_telphone{font-size:18px;color:#000;}
.c_contact_icon{position:relative;float:left;margin-top:10px;margin-right:4px;display:block;width:30px;height:30px;background:url(../../images/header_footer/top_icon.png) no-repeat;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.c_kik{background-position:-36px 0;}
.c_qq{background-position:-76px 0;}
.c_contact_icon:hover{background:url(../../images/header_footer/top_icon.png) no-repeat 0 -32px;}
.c_kik:hover{background-position:-36px -32px;}
.c_qq:hover{background-position:-76px -32px;}
.pophover-content {position: absolute;background-color: #fff;width: 150px;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.2);border-radius: 6px;z-index: 100;display: none;}
.c_contact_icon .arrow,.c_weixin .arrow{position:absolute;width: 33px;height: 10px;top:-10px;left:56px;background:url(../../images/header_footer/arrow.png);}

.popover-content {padding: 9px 14px;}
.popover-content p{line-height:30px;text-align:center;}
.popover-content p a{color:#00648d;}
.popover-content p a:hover{color:#08c;}
/*底部*/
.footer a{color:#333;}
.c_footer_top{border-top:1px solid #DDDDDD;height:110px;}
.c_footer_link{width:1000px;margin:0 auto;}
.c_footer_top dl{height:28px;margin:18px 0 14px;}
.c_footer_top dd{float:left;padding:6px 10px;margin-right:24px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;}
.c_footer_top dd:hover{background:#eeeeee;}
.c_footer_top dd a{font-size:12px;}
.c_footer_top ul{height:32px;}
.c_footer_top ul li{float:left;}
.c_work_time{font-size:12px;height:32px;line-height:28px;margin-right:30px;}
.c_footer_tel{width:160px;height:30px;background:url(../../images/header_footer/footer_icon2.png) no-repeat 4px 0;}
.c_micro a{display:inline-block;width:32px;height:32px;background:url(../../images/header_footer/footer_icon2.png) no-repeat -206px 0;}
.c_weibo{margin-right:16px;}
.c_weixin a{background:url(../../images/header_footer/footer_icon2.png) no-repeat -165px 0;}
.c_weixin .arrow{width: 10px;height: 33px;top:40px;left:15px;background:url(../../images/header_footer/left_arrow.png);}
.c_foot_weixin{display:none;}
.c_footer_top ul .c_mobile_icon{float:right;}
.c_mobile_icon a{display:inline-block;width:32px;height:32px;background:url(../../images/header_footer/footer_icon2.png) no-repeat;}
.c_mobile_icon .c_apple{background-position:-246px 0;}
.c_mobile_icon .c_android{background-position:-279px 0;}
.c_footer_bottom{background: #373737;height:80px;}
.c_footer_content{width:1000px;margin:0 auto;}
.c_copyright{float:left;height: 80px;line-height: 80px;color: #eee; width: 420px;}
.c_cooperate{float:right;width:458px;height:80px;background:url(../../images/header_footer/footer_icon.png) no-repeat 0 20px;}
.c_cooperate a{float:left;display:block;width:80px;height:48px;margin-right:10px;margin-top:20px;}
.c_cooperate .c_foot_one{width:42px;}
.c_cooperate .c_foot_three{width:100px;}
.c_cooperate .c_foot_four{width:100px;}
.y_usernameclicks{color: #0697da;}
.nav .y_myAssets{z-index:4;left:70px;width: 80px;padding-left:50px;height: 40px;margin-top: 30px;line-height: 40px;position: relative;line-height: 40px;color: #0697da;}
.nav .y_myAssets img{position: absolute;top:0px;left:0;}
.nav .y_myAssets a{line-height: 40px;color: #0697da;font-size: 14px;}
.y_myAssets span{display: block;position: absolute;right: 0px;top:19px;background: url(../../images/index/icon1.png) no-repeat -39px -181px;width: 9px;height: 5px;}
.y_list_list{width: 100%;height: 32px;line-height: 32px;font-size: 14px;}
.y_list_list a{display: block;width: 100%;height: 32px;}
.y_list_list a:hover{background: #12adff;}
.y_emnamess{display: block;float: left;color: #494949;height: 32px;width: 100px;text-align: center;}
.y_emnums{display: block;float: left;color: #fb8b1d;height: 32px;width: 130px;text-align: right;padding-right: 20px;}
.nav .y_myAssets_list{display:none;z-index:3;width: 250px;height: 241px;border-radius: 5px;background: #e8e8e8;position: absolute;right: 0px;top:17px;}
.nav dd a.y_TopRecharge{display: block;margin-left: 22px;margin-right:48px;margin-top: 4px;float:left;width: 80px;height: 36px;border-radius: 2px;font-size: 14px;color: #fff;background: #12adff;line-height: 36px;text-align: center}
.nav dd a.y_TopRecharge:hover{color: #fff;}
.nav dd a.y_TopWithdraw{display: block;border: 1px solid #cecdc9;margin-top: 4px;float:left;width: 78px;height: 34px;border-radius: 2px;font-size: 14px;color: #28292d;background: #ffffff;line-height: 34px;text-align: center}
.nav dd a.y_TopWithdraw:hover{color: #28292d;}
/************************************借款人头部***************************************/
.logo_nav_MemberCenter .borrow_money{width: 460px;padding-left: 200px;}
/*担保公司头部*/
.logo_nav_MemberCenter .c_guarantee{padding-left: 90px;width:580px;}