@charset "utf-8";
.c_cliam_tender{width:880px;padding:36px 54px 0;}
.c_cliam_tender table{border-collapse:collapse}
.c_cliam_tender table tr{height:38px;border-bottom:2px solid #fff;color:#555;}
.c_cliam_tender table th{background:#3bafda;font-size:16px;color:#fff;font-weight:normal;border-right:2px solid #fff;}
.c_cliam_tender table td{text-align:center;border-right:2px solid #fff;}
.c_cliam_num{width:146px;}
.c_tender_man{width:216px;color:#06b5ff;}
.c_tender_money{width:200px;}
.c_tender_time{width:310px;}
.c_behave .c_cliam_num{width:190px;}
.c_behave .c_tender_man{width:150px;color:#555;}
.c_behave .c_tender_money{width:170px;}
.c_behave .c_tender_time{width:150px;}
.c_cliam_date{width:214px;}
.c_cliam_bot th,.c_cliam_bot td{width:218px;}
.c_cliam_bot .c_cliam_num{color:#06b5ff;}

/*2015.3.26*/
.c_risk{padding:0;}
.c_risk_title{border-bottom:1px solid #E0E0E0;margin:20px 14px 0;overflow:hidden;}
.c_risk_list{float:right;overflow:hidden;}
.c_risk_list li{float:left;padding:0 14px;height:28px;line-height:28px;font-size:12px;color:#666;cursor:pointer;}
.c_risk_list .c_risk_this{border-bottom:2px solid #2AB5FF;}
.c_risk_guarantee{padding:0 14px;}
.c_risk_pad{padding:30px 0 0 32px;padding-right:0;display:none;}
.c_risk_shadow{margin:0 14px;height:6px;background:#F4F6F8;}
/*2015.3.26*/
/*2015.4.7*/
.c_risk_table{width: 618px;padding: 36px 0 0 24px;}
.c_risk_table td{font-size:12px;color:#333;}
.c_risk_intro{padding:20px 0;border-bottom:1px dotted #D2D2D2;line-height:26px;text-indent:2em;color:#616161;}
.c_fund_report{margin:0 -14px;}
.c_fund_report{margin-top:18px;}
.c_fund_report dl dd{padding-left:44px;height:42px;line-height:42px;background:#F2F3F5 url(../../images/account/risk_list.png) no-repeat 22px;border-bottom:1px solid #fff;font-size:16px;color:#616161;cursor:pointer;}
.c_risk_time{float:right;margin-right:40px;font-size:12px;}
.c_risk_bj{display:none;width: 100%;position: absolute;top: 0;left: 0;background: rgb(0,0,0);opacity: 0.6;filter: Alpha(Opacity=60);}
.c_report_detail{height:773px;display:none;z-index: 10;background: #fff;position: fixed;width: 550px;border: 5px solid #999;border-radius: 4px;}
.c_risk_close{position: absolute;width: 34px;height: 38px;background: url(../../images/account/close.png) no-repeat;right: -16px;top: -16px;}
.c_risk_descrip{width:551px;height:780px;position:relative;overflow:hidden;}
.c_risk_descrip ul{position:absolute;left:0;top:0;width:6957px;}
.c_risk_descrip ul li{width:551px;float:left;}
.c_risk_left,.c_risk_right{position:absolute;top:335px;width:60px;height: 60px;}
.c_risk_left{left:0;background: url(../../images/account/left-heavy-arrow.png) no-repeat;}
.c_risk_right{right:0;background: url(../../images/account/right-heavy-arrow.png) no-repeat;}
.c_risk_descrip img{width:551px;height:773px;}
/*2015.4.7*/
