@charset "utf-8";
* { margin: 0; padding: 0;list-style:none;}
body { font: 16px/1.8 "Microsoft Yahei",verdana;background:#f1f2f2;}
.header{background:#fff;background: #fff;width: 100%;position: absolute;z-index: 2;}
.footerx{position: absolute;}
#fullPage-nav { _display: none; font-size: 12px;}
#fullPage-nav li { width: 90px; height: 21px; margin: 10px 0 0; vertical-align: middle;}
#fullPage-nav li a { float: right; width: 21px; height: 21px; color: #8F9DA4; text-decoration: none; text-align: right; background: url(../../images/subject/invitex/dot.png) 5px 5px no-repeat;}
#fullPage-nav li .active { background-position: 0 bottom;}
#fullPage-nav span { display: none;}
.fullPage-tooltip { float: left; top: 0; margin-right: 5px; font: 12px "Microsoft Yahei"; color: #8F9DA4; line-height: 21px;}
.section { position: relative; overflow: hidden;}
.section .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.section .bg img { display: block; width: 100%; height: 100%;}
.bg11 { position: absolute; top:15%; width: 100%; height: 850px;opacity: 0;text-indent: -9999px;-webkit-transform: scale(0, 0);transform: scale(0,0); background: url(../../images/subject/invitex/sui.png) 50% 0 no-repeat; transition: all 1s;}
.active .bg11{opacity: 1;-webkit-transform: scale(1, 1);transform: scale(1, 1);transition-delay: 0.3s;}
.tell_friend{width:100%;height:235px;background:url(../../images/subject/invitex/tell_friend.png) 50% 0 no-repeat;/**//*background-size:220px 130px;*/position:absolute;top:-235px;transition: all 1s;}
.active .tell_friend{top:132px;transition-delay: 1.4s;transition: all 2s;}
.bg12 { position: absolute; bottom: -392px; width: 100%; height: 392px; background: url(../../images/subject/invitex/bg12.png) 50% 0 no-repeat; opacity: 0; transition: all 1.7s; bottom: 90px\0;}
.bg13 { position: absolute; bottom: -377px; width: 100%; height: 377px; background: url(../../images/subject/invitex/bg13.png) 50% 0 no-repeat; transition: all 1s;}
.hgroup,.ready{ position: absolute; width: 100%; height: 212px; top: 42%;  text-indent: -9999px; background: url(../../images/subject/invitex/center_text.png) 50% 0 no-repeat; opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
/**//*.hgroup{background-size:500px 140px;}*/
.ready{height:87px;width:100%;top:82%;background: url(../../images/subject/invitex/is_ready.png) 50% 0 no-repeat;}
/**//*.ready{background-size:160px 50px;}*/
.change{position: absolute;height:110px;width:100%;background: url(../../images/subject/invitex/change.png) 50% 0 no-repeat;transition: all 1.2s;text-indent:-9999px;opacity:0;top:66%;}
.active .change{opacity:1;transform:rotate(360deg);-ms-transform:rotate(360deg); -moz-transform:rotate(360deg);-webkit-transform:rotate(360deg); -o-transform:rotate(360deg);transition-delay: 2.2s;}
.relaxed{width:100%;position:absolute;height:92px;top:-60%;background: url(../../images/subject/invitex/relaxed.png) 50% 0 no-repeat;transition: all 0.4s;}
.active .relaxed{top:8%;transition-delay: 0.3s;}
.finance{top:0;opacity:0;text-indent:-9999px;height:84px;background: url(../../images/subject/invitex/rich.png) 50% 0 no-repeat;transition: all 0.3s;}
.finance_block{position:absolute;top:64%;width:100%;}
.finance_content{height:172px;width:760px;padding:42px 120px 0;margin:0 auto;background:#eeefef url(../../images/subject/invitex/finance_bj.jpg) no-repeat 0 bottom;}
.finance_login,.finance_register{display:block;border:2px solid #E1262F;}
.finance_login:hover,.finance_register:hover{background:#E1262F;}
.finance_login{width:287px;height:79px;background:url(../../images/subject/invitex/login_btn.png) no-repeat 30px 20px;}
.finance_register{width:232px;height:77px;background:url(../../images/subject/invitex/register_btn.png) no-repeat 46px -42px;}
.toDown{position:absolute;bottom:3%;width:100%;height:41px;background:url(../../images/subject/invitex/arrows_down.png) 50% 0 no-repeat;}
.finance_left,.finance_right{float:right;}
.finance_left{float:left;width:472px;}
.active .finance{opacity:1;top:52%;transition-delay: 2.6s;}
.dream_step{position:absolute;top:21%;width:100%;}
.dream_content{width:840px;margin:0 auto;height:134px;}
.dream_step a{position:relative;float:left;display:block;width:134px;height:132px;background:url(../../images/subject/invitex/step_bj.png) no-repeat 0 0;border-radius:50%;text-indent:-9999px;opacity:0;-webkit-transform: scale(3, 3);transform: scale(3,3); transition: all 0.3s;}
.active .dream_step a,.active .dream_step a img{opacity:1;-webkit-transform: scale(1, 1);transform: scale(1,1);transition-delay: 0.5s;}
.dream_step a img{position:absolute;width:103px;height:71px;top:26px;left:19px;opacity:0;-webkit-transform: scale(3, 3);transform: scale(3,3); transition: all 0.6s;}
.dream_step i{text-indent:-9999px;opacity:0;float:left;margin:46px 29px;display:block;width:42px;height:42px;background: url(../../images/subject/invitex/arrows_right.png) no-repeat;transition: all 0.6s;}
.active .dream_step .arrow1{opacity:1;transition-delay: 0.6s;}
.active .dream_step .arrow2{opacity:1;transition-delay: 0.8s;}
.active .dream_step .arrow3{opacity:1;transition-delay: 1.0s;}
.active .dream_step .step2{transition-delay: 0.7s;}
.active .dream_step .step3{transition-delay: 0.9s;}
.active .dream_step .step4{transition-delay: 1.2s;}
.active .dream_step a:hover{background:url(../../images/subject/invitex/step_bj.png) no-repeat -160px 0;transition: all 0s;transition-delay: 0s;}
.bg62{color:#58595b;font-size:16px;}
.bg62 li{line-height:34px;}
.bg62 dd{padding-left:26px;line-height:34px;}
.active .invite{top:14%;}
.shadow_bj{position:absolute;width:100%;height:263px;bottom:28%;background:url(../../images/subject/invitex/i.jpg) 50% 0 no-repeat;}
.section strong { position: absolute; left: 50%; top: 15%; z-index: 10; width: 512px; height: 45px; margin-left: -256px; font-size: 24px; font-weight: 500; color: #748A9E; opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
.section h3 { position: absolute; left: 50%; top: 15%; z-index: 10; width: 512px; height: 45px; margin-left: -256px; margin-top: 60px; text-indent: -9999px; background-repeat: no-repeat; opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
.p1 { position: absolute; left: 50%; top: 15%; width: 510px; margin-left: -255px; margin-top: 130px; font-size: 16px; color: #727F8C; opacity: 0; transition: all 0.6s;}
.reg_favor{color:#ef4242;font-size:20px;top:28%;}
.bg61 { position: absolute; top: -454px; width: 100%; height: 545px; background: url(../../images/subject/invitex/bg61.png) 50% 0 no-repeat; transition: all 1s;}
.bg62 { position: absolute; left: 10%; bottom: 28%; width: 520px; height: 284px; margin-left: -527px;  transition: all 1s;opacity:0;}
.txt6 { position: absolute; left: 90%; bottom: 28%; width: 447px; height:263px;margin-left: 90px; opacity: 0; transition: all 1s;background: url(../../images/subject/invitex/money.png) no-repeat;}
.txt6 p { margin-bottom: 17px; color: #5C7970;}
/* CSS3过度及动画 */
.active strong, .active h3 { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .p1 { opacity: 1; transition-delay: 1.6s;}
.active .bg12 { bottom: 90px; opacity: 1; transition-delay: 0.7s; }
.active .bg13 { bottom: 0; opacity: 1; transition-delay: 0.7s;}
.active .hgroup,.active .ready { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1s;}
.active .ready{transition-delay: 3s;}
.active .bg21 { opacity: 1; margin-left: -608px; transition-delay: 0.7s;}
.active .bg23 { bottom: 15%; transition-delay: 0.7s;}
.active .bg22 { margin-left: -280px; opacity: 1; transition-delay: 0.7s;}
.active .bg61 { top: 0; transition-delay: 0.7s;}
.active .bg62 { left: 52%; opacity: 1; transition-delay: 1.4s;}
.active .txt6 { left: 52%; opacity: 1; transition-delay: 1.4s;}
/* for lt ie 10 */
.ltie10 strong, .ltie10 h3 { opacity: 1; transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10 .p1 { opacity: 1; transition-delay: 9s;}
.ltie10 .bg12 { bottom: 90px; opacity: 1; transition-delay: 0.7s; }
.ltie10 .bg13 { bottom: 0; opacity: 1; transition-delay: 0.7s;}
.ltie10 .hgroup { opacity: 1; transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10 .mail { top: 25px; transition-delay: 0.7s;}
.ltie10 .p11 { opacity: 1; transition-duration: 1s; transition-delay: 2s;}
.ltie10 .bg21 { opacity: 1; margin-left: -608px; transition-delay: 0.7s;}
.ltie10 .bg23 { bottom: 15%; transition-delay: 0.7s;}
.ltie10 .bg22 { margin-left: -280px; opacity: 1; transition-delay: 0.7s;}
.ltie10 .p3 { margin-left: -480px; opacity: 1; transition-delay: 0.7s;}
.ltie10 .bg31, .ltie10 .bg32 { opacity: 1; transition-delay: 1s;}
.ltie10 .bg33 { margin-left: -120px; opacity: 1; transition-delay: 0.7s;}
.ltie10 .bg61 { top: 0; transition-delay: 0.7s;}
.ltie10 .bg62 { left: 50%; opacity: 1; transition-delay: 0.7s;}
.ltie10 .txt6 { left: 50%; opacity: 1; transition-delay: 0.7s;}


.road{width:100%;position:absolute;transition: all 1s;height:94px;background:url(../../images/subject/invitex/road.png) 50% 0 no-repeat;}
.invite{height:83px;background:url(../../images/subject/invitex/invite.png) 50% 0 no-repeat;}
.bg62s{width:323px;bottom:40%;height:270px;background:url(../../images/subject/invitex/invite_img.png) no-repeat;}
.active .bg62s{left:56%;}
.txt6s{background:none;bottom:38%;color:#58595b;}
.txt6s li{line-height:34px;}
.active .txt6s{left:42%;width:538px;}
.shadow_bj2{bottom:41%;background-position:48% 0;}
.invest_bj{position:absolute;bottom:21.4%;width:100%;height:118px;background:url(../../images/subject/invitex/invest_bj.jpg) repeat-x 0 bottom;}
.invest_btn{display:block;width:252px;margin:0 auto;height:68px;background:url(../../images/subject/invitex/defalut_invest.png) no-repeat;}
.invest_btn:hover{background:url(../../images/subject/invitex/hover_invest.png) no-repeat;}
.finance_content p{font-size:20px;color:#434343;}
.finance_content .invite_code{font-size:40px;color:#ec3838;}
.copy_link{padding:6px;background-color:#ec3838;color:#fff;text-decoration:none;font-size:16px;}
/*.relaxed{background-size:300px 66px;}
.invite{background-size:300px 56px;}
.section4 .road{top:5%;}
.active .p1{top:24%;}*/