@charset "utf-8";
@import url(comm.css);
body{min-width:1156px;background: #fff; _width:expression(document.documentElement.clientWidth>1156?document.documentElement.clientWidth:1156);font-family:"Microsoft YaHei";font-size:14px;}
em,h1,h2,h3,h4{font-style: normal;font-weight: normal;}
.y_jsdposts{height: 638px;width: 998px;margin: 114px auto 0;}
.y_jsdposts li{float:left;width: 194px;margin-right: 158px;padding: 0 16px;cursor: pointer;}
.y_jsdposts li p{height: 80px;line-height: 80px;text-align: center;color:#555555 ;font-size: 28px;}
.y_job_information{width: 774px;margin: 0 auto 166px;background: #eeeeee;border-radius: 5px;padding: 22px 145px 110px 79px;position: relative;} 
.y_job_information h2{height: 58px;line-height: 58px;color: #0696dc;font-size: 24px;}
.y_job_information h3{color: #555555;line-height: 30px;font-size: 18px;}
.y_job_information p{color: #555555;line-height: 30px;font-size: 14px;line-height: 26px;}
.y_job_button {width: 45px;height: 45px;background: url(../../images/job/buttonss.png) no-repeat; top:177px;position: absolute;cursor: pointer;}
.y_job_previous{background-position: 0 0;left:-81px; }
.y_job_next{background-position: -48px 0;right:-81px; }
.y_job_information li{display: none;}
.asubmits{display: block;position: absolute;left:411px;bottom:33px;width: 196px;height: 50px;font-size: 18px;background: #0696dc;color: #fff;line-height: 50px;text-align: center;border-radius: 5px;}


/*about.html start*/
.y_about_banner{width: 100%;height: 336px;background:url(../../images/about/about_banner.jpg) no-repeat;}
.y_about_bannerin{width: 1000px;margin: 0 auto;position: relative;}
.y_about_bannerin ul{width:415px;height: 243px;padding-top: 63px;position: absolute;left: 0;top: 0;}
.y_about_bannerin ul li{height: 38px;margin-bottom: 5px; background: #0070a1;width: 412px;box-shadow: 1px 1px 0px #006592;}
.y_about_bannerin ul li p{line-height: 38px;float:left;}
.y_about_bannerin ul li p.y_abbaleft{font-size: 15px;color: #ffffff;height: 38px;width: 85px;text-align: center;}
.y_about_bannerin ul li p.y_abbaright{font-size: 14px;color: #414141;background: #e6f4fd;width: 312px;height: 36px;margin-top: 1px;margin-right: 1px;padding-left: 14px;}
.y_about_bannerright{width: 352px;height: 214px;background: #fff;padding:7px;position: absolute;top:55px;right: 0;}
.y_about_con1{padding:64px 0 90px;overflow: hidden;width: 1000px;margin: 0 auto;}
.y_about_con1right{width:500px;float: right;}
.y_about_con1right h2{width: 126px;height: 52px;background: url(../../images/about/historyicon.png) no-repeat;float: right;margin-bottom: 28px;}
.y_about_con1right p{clear: both;font-size: 14px;color: #5a5a5a;text-align: right;line-height: 26px;width: 500px;}
/*为什么选择晋商贷*/
.y_about_con2,.y_about_con3,.y_about_con4{overflow: hidden;position: relative;width: 1000px;margin: 0 auto;}
.y_about_con2 h2 span,.y_about_con3 h2 span,.y_about_con4 h2 span{color: #727171;font-size: 22px; border-bottom: 2px solid #999999; line-height: 36px;margin-left: 414px;}
.y_about_con3 h2 span{margin-left: 454px;}
.y_about_con4 h2 span{margin-left: 464px;}
.y_about_con2 h2,.y_about_con3 h2,.y_about_con4 h2{margin-bottom: 65px;margin-top:40px;}
.y_about_con2 ul li,.y_about_con3 ul li{width: 190px;text-align: center;line-height: 30px;float: left;margin-right:78px;}
.y_about_con2 ul li h4{font-weight: normal;font-size: 16px;color: #221815;}
.y_about_con2 ul li p{font-size: 14px;color: #727171;}
.y_about_con2 ul,.y_about_con3 ul{width:1000px;overflow: hidden;margin-bottom: 120px;}
/*晋商贷成就*/
.y_about_con3 ul li h4{font-weight: normal;font-size: 14px;color: #221815;}
.y_about_con3 ul li p{font-size: 18px;color: #fd7923;}
.y_about_con3 .y_amoress{color: #727171;font-size: 14px;position: absolute;right:0px;top:289px;}
/* box */
#box{position:relative;width:900px;height:236px;margin:0 auto 83px;}
#box ul{position:relative;width:754px;height:292px;}
#box li{position:absolute;list-style:none;background:#fff;width:0;height:0;top:146px;left:322px;z-index:0;cursor:pointer;overflow:hidden;border-radius:3px;}
#box li img{width:100%;height:100%;vertical-align:top;}
#box .prev, #box .next{position:absolute;top:100px;width:45px;height:45px;overflow:hidden;text-indent:-999px;cursor:pointer;background:url(../../images/job/buttonss.png) no-repeat;}
#box .prev{left:-50px;}
#box .next{right:-10px;background-position:-48px 0;}
/*办公环境 */
.y_about_con5{width: 100%;border-top: 1px solid #cccccc;position: relative;overflow: hidden;}
.y_about_con5list{width: 1872px;position: relative;}
/*list*/
.y_imgfloats img{width: 234px;position: absolute;z-index: 1;background: #fff;opacity: 0.5;}
.y_imgfloats{display: block;position: relative;width: 234px;height: 160px;float: left;}
.y_imgfloats img:hover{width: 260px;z-index: 2;top:-11px;left: -15px;border:5px solid #fff;box-shadow: 1px 1px 4px #aaa;opacity: 1}
.y_about_lists{height: 160px;width: 1872px;}
.zhezhao{display: none;}
.focus{display: none;}
.y_about_con5in{width: 1000px;height: 152px;margin: 0 auto;position: relative;}
.y_about_con5in h2 {width: 120px;height: 52px;background: url(../../images/about/historyicon1.png) no-repeat;position:absolute;left:0;top:60px;}
.ablocksdiv{width: 196px;margin: 68px auto 53px;}
.ablocks{display: block;width: 196px;height: 50px;font-size: 18px;background: #0696dc;color: #fff;line-height: 50px;text-align: center;border-radius: 5px;}
/*about.html  end*/