@charset "utf-8";
@import url(comm.css);
body{font-family:microsoft Yahei;min-width: 980px;}
.w_body{background:url(../../images/subject/indianaJones/bg1.jpg) no-repeat center 0;width:100%;height:680px;}
.lu_bg{background:url(../../images/subject/indianaJones/bg2.jpg) no-repeat center 0;width:100%;height:926px;}
.w_rules_bg{background:url(../../images/subject/indianaJones/bg3.jpg) no-repeat center 0;width:100%;height:944px;}
.w_content_box{width:980px;margin:0px auto;}
.w_lu{background:url(../../images/subject/indianaJones/lu_03.png) no-repeat center 0;height:926px;width:980px;position: relative;}
.w_running{position: absolute;top:-214px;left:89px;width:195px;height:272px;}
.box{background:url(../../images/subject/indianaJones/yin_03.png) no-repeat bottom left;height:220px;width:233px;}
.boxs{width:270px;height:260px;}
.box_one{position: absolute;top:-170px;right:310px;}
.box_left{position: absolute;z-index: 2;left:0px;bottom:0px;width:83px;height:100%;}
.qi_one{margin-top:51px;}
.box_right{height:260px;width:233px;position:absolute;bottom:0px;right:0px;}
.box_out{position: relative;height:220px;width:233px;}
.box_out .box_state{position:absolute;bottom:6px;left:0px;}
.btn_state{background:url(../../images/subject/indianaJones/btn_10.png) no-repeat center 0;display:block;width:98px;height:40px;margin-left:40px;cursor: pointer;}
.btn_state:hover{background:url(../../images/subject/indianaJones/btn_07.png) no-repeat center 0;}
.tips{position:relative;left:180px;top:50px;z-index:3;background:url(../../images/subject/indianaJones/tips_03.png) no-repeat;width:136px;height:97px;display:none; }
.tips p{width:120px;line-height:15px;color:#4d4d4d;font-size:10px;text-align: center;padding-top:18px;}
.w_shan{position: absolute;top:120px;left:27px;}
.w_shan_other{display:none;}
.box_two{position: absolute;top:-10px;right:124px;}
.box_left_two{position: absolute;z-index: 2;right:0px;bottom:0px;width:83px;height:100%;}
.qi_two{margin-top:116px;margin-left:34px;}
.tips_two{top:40px;}
.tips_two p{padding-top:30px;}

.box_three{position: absolute;top:8px;left:104px;}
.box_three .btn_state{margin-left:56px;}
.qi_three{margin-top:32px;}
.tips_three{top:-26px;left:100px;}
.tips_three p{padding-top:30px;}

.box_four{position: absolute;top:160px;left:410px;}
.qi_four{margin-top:79px;margin-left:-12px;}
.box_left_four{z-index: 0;}
.tips_four{top:-26px;left:100px;}
.tips_four p{padding-top:24px;}

.box_five{position: absolute;top:344px;right:26px;}
.qi_five{margin-top:38px;}


.box_six{position: absolute;top:352px;left:230px;}
.qi_six{margin-top:30px;margin-left:24px;}
.tips_six{top:-26px;left:22px;}
.tips_six p{padding-top:30px;}

.box_seven{position: absolute;top:554px;left:48px;}
.qi_seven{margin-left:19px;}

.box_eight{position: absolute;top:560px;right:204px;}
.box_left_eight{position: absolute;z-index: 2;right:0px;bottom:0px;width:83px;height:100%;}
.qi_eight{margin-top:136px;margin-left:28px;}

.w_rules{background:url(../../images/subject/indianaJones/bgs_03.png) no-repeat;height:855px;position: relative;top:-20px;width:963px;left:8px;}
.w_rules_con{padding:120px 40px 0px 80px;overflow: hidden;}
.w_rules_con p,.w_rules_con li{font-size:17px;color:#001e2f;line-height:32px;}
.w_rules_con li{float:left;width:420px;}
.w_rules_con .add_padding{padding-left:40px;}
.add_margin{margin-top:180px;}
.add_margin_other{margin-top:50px;}
.last_btn{display:block;width:253px;height:53px;margin:80px auto 0;text-align:center;font-size:21px;color:#ffda65;line-height:46px;background:url(../../images/subject/indianaJones/btn.png) no-repeat 0px -94px;}
.last_btn:hover{background-position:-405px -94px;}

.popup_window{display:none;width:461px;height:390px;position: fixed;top:20px;left:50%;z-index: 50;margin-left:-230px;}
.window{display:none;background:url(../../images/subject/indianaJones/red.png) no-repeat;width:461px;height:390px;}
.window h2{color:#fffba5;font-size:34px;text-align: center;padding-top:16px;text-shadow: 3px 3px 1px #ba3433;-o-text-shadow: 3px 3px 1px #ba3433;-webkit-text-shadow: 3px 3px 1px #ba3433;-moz-text-shadow: 3px 3px 1px #ba3433;-ms-text-shadow: 3px 3px 1px #ba3433;}
.window p{color:#fffba5;font-size:24px;margin-left:46px;text-shadow: 3px 3px 1px #ba3433;-o-text-shadow: 3px 3px 1px #ba3433;-webkit-text-shadow: 3px 3px 1px #ba3433;-moz-text-shadow: 3px 3px 1px #ba3433;-ms-text-shadow: 3px 3px 1px #ba3433;}
.window .money{font-size:68px;margin:0px;}
.window .red_box{font-size:39px;text-align: center;margin:0px;}
.popup_btn{background:url(../../images/subject/indianaJones/btn.png) no-repeat;display:block;width:298px;height:76px;position: absolute;bottom:0px;left:81px;}
.popup_btn:hover{background-position:-403px 1px;}

.w_add_bg{display:none;background:#000;filter:alpha(opacity=50);   
      -moz-opacity:0.5;   
      -khtml-opacity: 0.5;   
      opacity: 0.5;width:100%;height:500px;position: absolute;top:0px;left:0px;z-index:20;}
.secret{margin:20px 62px;overflow:hidden;}
.window span{float:left;color:#fffba5;width:160px;text-shadow: 3px 3px 1px #ba3433;-o-text-shadow: 3px 3px 1px #ba3433;-webkit-text-shadow: 3px 3px 1px #ba3433;-moz-text-shadow: 3px 3px 1px #ba3433;-ms-text-shadow: 3px 3px 1px #ba3433;}
.window .money_other{font-size:54px;}
.window .money_other .red_box{font-size:30px;display:block;text-align: center;}
.window b{float:left;display:block;line-height:120px;color:#fffba5;font-size:56px;margin:0px 10px;text-shadow: 3px 3px 1px #ba3433;-o-text-shadow: 3px 3px 1px #ba3433;-webkit-text-shadow: 3px 3px 1px #ba3433;-moz-text-shadow: 3px 3px 1px #ba3433;-ms-text-shadow: 3px 3px 1px #ba3433;}
.window .chun{font-size:40px;width:44px;display:block;line-height:120px;background:url(../../images/subject/indianaJones/chun_03.png) no-repeat left center;padding-left:70px;}
.window .w_close{background:url(../../images/subject/indianaJones/close.png) no-repeat left center;display:block;width:21px;height:21px;position: absolute;right:30px;top:6px;cursor: pointer;}

.secret_other{margin:36px 42px;overflow:hidden;}
.window .money_last{font-size:35px;width:119px;text-align: center;}
.window .money_last .red_last{font-size:20px;display:block;width:100%;text-align: center;}
.window .other_b{line-height:80px;margin:0px 5px;}
.window .chun_other{font-size:24px;width:24px;line-height:80px;background:url(../../images/subject/indianaJones/chun_03.png) no-repeat left center;display:block;background-size: 50px;padding-left:50px;}
.window .money_size{width:77px;}

.popup_bg{display:none;position: absolute;top:60px;left:110px;z-index: 4;width:30px;}
