@charset "utf-8";
/* CSS Document */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u, i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;}
body{ background:#FFFFFF; color:#333333; font-family:"微软雅黑",Arial,Lucida,Verdana,Helvetica,sans-serif; font-size:12px; line-height:150%; }
a:link, a:visited{ text-decoration:none; }
a:hover{text-decoration:none; }
ol, ul{ list-style: none outside none;}
.stages-detail-box{width: 1000px;margin: 70px auto;}
.stages-detail-bottom{width: 1000px;margin: 0 auto 70px;border: 1px solid #e8e8e8;}
.stages-detail-bottom img{margin:10px auto 20px;display: block;max-width: 800px;}
.stages-detail-bottom h2{color: #12adff;font-size: 20px;font-weight: normal;border-bottom: 1px solid #e8e8e8;line-height: 56px;padding-left: 40px;}
/* Clear Fix */ 
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;} 
.clearfix{display:inline-block;} 
/* Hide from IE Mac */ 
.clearfix{display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */ 
/*页面全局结束*/
.right-extra{float: left;}
.right-extra .join a:link,.right-extra .join a:visited{color:#FF7604;}
.right-extra .norecode{padding:0 10px 10px;}
.right-extra .iloading{margin-bottom:10px;}
/*图片放大镜样式*/
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:350px;height:350px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}

/*图片小图预览列表*/
.spec-preview{width:350px;height:350px;border:1px solid #DFDFDF;}
.spec-scroll{clear:both;margin-top:5px;width:352px;position: relative;}
.spec-scroll .prev,.spec-scroll .next{position: absolute;display:block;width:13px;height:23px; line-height:54px;background:url(../../images/btnicon2.jpg) no-repeat;cursor:pointer;z-index: 2;top:14px;}
.spec-scroll .prev:hover{background-position: -28px 0;}
.spec-scroll .next:hover{background-position: -43px 0;}
.spec-scroll .prev{background-position: 0 0;left: 0;}
.spec-scroll .next{background-position: -14px 0;right: 0;}
.spec-scroll .items{margin-left: 16px;float:left;position:relative;width:322px;height:56px;overflow:hidden;}
.spec-scroll .items ul{position:absolute;width:999999px;height:56px;}
.spec-scroll .items ul li{float:left;width:64px;text-align:center;}
.spec-scroll .items ul li img{border:1px solid #CCC;padding:2px;width:50px;height:50px;}
.spec-scroll .items ul li img.img-hover{border:2px solid #12adff;padding:1px;}

.left-extra{width: 600px;font-family: "微软雅黑";margin-left: 46px;float: left;}
.left-extra ul li{margin-bottom: 10px;overflow: hidden;}
.left-extra ul li span{float:left;color: #000000;font-size: 14px;line-height:36px;display: inline-block;padding-left: 4px;}
.left-extrainl{float: left;width: 520px;}
.left-extra ul li em{cursor: pointer;color: #666666;font-size: 12px;display: inline-block;padding: 0 10px;font-style: normal;border: 1px solid #dcdcdc;line-height: 34px;height: 34px;margin-bottom: 5px;}
.left-extra ul li a{cursor: default;background: none repeat scroll 0 0 #e7e7e7;color: #666666;font-size: 12px;display: inline-block;padding: 0 10px;font-style: normal;border: 1px solid #dcdcdc;line-height: 34px;height: 34px;margin-bottom: 5px;}
.left-extra ul li em b{font-weight: normal;line-height: 34px;}
.left-extra ul li em img{position: relative;top: 5px;}
.left-extra ul li em.yListrclickem{line-height: 32px;border: 2px solid #12adff;height: 32px;position: relative;padding: 0 9px;}
.left-extra ul li em.yListrclickem i{display: block;width: 11px;height: 11px;background: url(../../images/righbt.png) no-repeat 0 0;right: -1px;bottom: -1px;position: absolute;}
.left-extra .colorp00{color: #333333;font-size: 14px;line-height: 30px;margin-bottom: 10px;}
.left-extra .colorp00 span{color: #f58232;font-size: 14px;padding-left: 20px;}
.left-extra .colorp00 em{font-style:normal;}
.left-extra .colorp00 i{font-style:normal;font-size: 18px;}
.left-extra .colorp00 i.i-stages{color: #f5833e;font-size: 22px;padding-left: 24px;}
.left-extra form input,.left-extra form select{outline: none;border: 1px solid #dcdcdc;width: 86px;height: 34px;font-size: 14px;color: #333333;padding-left: 8px;}
.left-extra form select{height: 36px;}
.left-extra form .YImmediatelyininstallment{margin-left: 10px;font-size: 14px;color: #12adff;text-align: center;display: inline-block;width: 178px;height: 38px;line-height:38px;background: #ecf8ff;border: 1px solid #12adff;}
.left-extra form .YImmediatelyininstallment2{margin-left: 12px;font-size: 14px;color: #fff;text-align: center;display: inline-block;width: 178px;height: 38px;line-height:38px;background: #12adff;border: 1px solid #12adff;}
.label-money{position: relative;left: -28px;color: #888;}
.left-extra-name{font-weight: bold;color: #555555;font-size:18px;line-height: 28px;}
.left-extra-small{color: #12adff;font-size: 14px;line-height: 28px;margin-bottom: 10px;display: inline-block;}

