@charset "utf-8";
*{margin:0;padding:0;list-style:none;font-style:normal;}
img{border:none;}
a{text-decoration:none;color:#333;}
body{min-width:1002px;font-size:14px;font-family:"微软雅黑";color:#333;position:relative;}
.cloud_content{height:1797px;background:url(../../images/cardTransfer/general_bj2.jpg) no-repeat center 0;}
.text_content{width:1002px;margin:0 auto;}
.notice{height:112px;padding-top:787px;padding-left:104px;line-height:28px;font-size: 15px;}
.before_logo{width:449px;margin-left: 381px;height:69px;background:url(../../images/cardTransfer/before_logo2.jpg) no-repeat 0;}
.login_before{margin-top:90px;height:327px;}
.login_after{margin-top:178px;height:239px;}
.all_text{width:456px;margin-left: 371px;}
.all_buy{margin-left: 5px;margin-top: 20px;width:548px;height:121px;background:url(../../images/cardTransfer/cloud_logo23.jpg) no-repeat;}
.login_text{float: left;width:296px;font-size:15px;line-height: 28px;margin-left: 15px;}
.login_btns{float: left;display:block;margin-top: 15px;width:108px;margin-left:80px;text-align:center;height:28px;line-height:28px;background:#cb2c2c;color:#fff;font-size:18px;}
.active_rule{height:328px;width:776px;margin:0px auto;line-height:32px;font-size:15px;color:#222;font-weight:600;}
.active_rule span{font-size: 16px;padding-left: 25px;display: block;}
.JDgoatyear4 {
width: 730px;
margin: 0 auto;
height: 1136px;
margin-top: 298px;

}
.JDgoatyear4 ul {
width: 359px;
float: left;
height: 1105px;
margin-bottom: 28px;
}
.JDgoatyear4 ul li {
margin-bottom: 1.1px;
width: 100%;
height: 21px;
line-height: 21px;
text-align: center;
color:#333;
font-size: 15px;
border-radius: 5px;
overflow: hidden;
}
.JDgoatyear4 ul li span {
display: block;
margin-right: 2px;
float: left;
margin-left: 0;
}
.JDgoatyear4 ul li span.JDgoatyear4span1 {
width: 40px;
}
.JDgoatyear4 ul {
width: 362px;
float: left;
height: 1105px;
margin-bottom: 28px;
}
.JDgoatyear4 ul.JDgoatyear4ul2 {
margin-left: 1px;
}
.JDgoatyear4 ul li span.JDgoatyear4span2 {
width: 120px;
}
.JDgoatyear4 ul li span.JDgoatyear4span3 {
width: 92px;
}
.JDgoatyear4 ul li span.JDgoatyear4span4 {
width: 101px;
margin-right: 0px;
}
.JDgoatyear4 ul li:hover{width:360px;background-color:#a8a8a8;}
.divided_page{text-align:center;color:#fcff00;font-size:16px;}
.this_page{color:#fff;}
.page_count input{border-style:none;background:#fff;width:42px;height:22px;text-align:center;}
.prev_btn,.next_btn{display:inline-block;width:20px;height:30px;}
.prev_btn{background:url(../../images/cardTransfer/prev.png) no-repeat 0 6px;}
.next_btn{background:url(../../images/cardTransfer/next.png) no-repeat 0 6px;}
.page_count{position: relative;top: -9px;}
.go{display:inline-block;width:18px;height:18px;line-height:14px;background:#e5e5e5;color:#f08200;font-size:13px;box-shadow:0 1px 1px #666;position: relative;top: -2px;margin:0 12px 0 10px;}
.after_logo{width:185px;height:66px;background:url(../../images/cardTransfer/cloud_logo12.jpg) no-repeat;margin-left:383px;}
.login_after .login_text{width:109px;height:165px;background:url(../../images/cardTransfer/y_invest2.jpg) no-repeat;}
.login_after .all_buy{background:none;width:364px;font-size:17px;line-height:36px;color:#000;margin-top: 10px;}
.login_after .all_buy p b{color:#ac5d00;font-weight:600;font-size:18px;}
.login_after .all_buy p b i{font-size:22px;}
.qick_white{width:100%;height:38px;background:#fff;}
.invest_btn{display:block;width:260px;height:66px;margin:0 auto;background:url(../../images/cardTransfer/b_invest2.jpg) no-repeat;position:absolute;left: 362px;top: 75px;}
.invest_btn:hover{background:url(../../images/cardTransfer/b_invest1.jpg) no-repeat;}
.outbj{background-color:#000;opacity:0.6;filter:alpha(opacity=60);position:absolute;left:0;top:0;z-index:1;display:none;}
.ad{position:fixed;width:434px;height:403px;z-index:6;display:none;}
.honorific{width:434px;margin:0 auto;color:#fff;line-height:32px;font-size:15px;}
.alert_title{width:384px;height:95px;background:url(../../images/cardTransfer/cloud_alert.png) no-repeat;margin:0 auto;}
.alert_content{width:430px;height: 270px;padding-top: 30px;background:#f08200;border:4px solid #fff;border-radius:4px;}
.alert_content p{padding:0 20px;padding-right:14px;}
.alert_content input{width:70px;height:18px;border:none;box-shadow:inset 1px 1px 2px #888;}
.cloud_btn{width:276px;margin:0 auto;}
.cloud_btn a{display:block;width:95px;height:28px;margin-top:34px;}
.confirm{float:left;background:url(../../images/cardTransfer/confirm.png) no-repeat;}
.undo{float:right;background:url(../../images/cardTransfer/undo.png) no-repeat;}
