</div>
</table>

<!--底部  -->

<div class="footbg">
    <div class="footer">
    
    <div class="footer-lj">
	    <div class="footer-brand">
                <div class="footer-brand-word">合作伙伴</div>
                <div class="footer-brand-img">
                    <ul class="clearfix">
                        <li><a href="http://www.yiji.com" target="_blank"><img src="/themes/soonmes_default/images/friend1.jpg" alt="易极付"></a></li>
                        <li><a href="http://xxx.com" target="_blank"><img src="/themes/soonmes_default/images/friend2.jpg" alt="xxx"></a></li>
                        <li><a href="http://www.xxx.com" target="_blank"><img src="/themes/soonmes_default/images/friend3.jpg" alt="xxx"></a></li>
                    </ul>
                </div>
	    </div>
           <div class="footer-brand">
                <div class="footer-brand-word">友情链接</div>
                <div class="footer-brand-img">
                    <ul class="clearfix">
                        <li><a href="http://www.yiji.com" target="_blank"><img src="/themes/soonmes_default/images/friend1.jpg" alt="易极付"></a></li>
                        <li><a href="http://xxx.com" target="_blank"><img src="/themes/soonmes_default/images/friend2.jpg" alt="xxx"></a></li>
                        <li><a href="http://www.xxx.com" target="_blank"><img src="/themes/soonmes_default/images/friend3.jpg" alt="xxx"></a></li>
                    </ul>
                </div>
 
	    </div>
	</div>
    
    <div class="foottxt clearfix">
            <ul>
                <li class="ft-title title1">使用帮助</li>

                <li>
                   <a href="/article/list.html?code=xszn">新手入门</a>
                </li>
                <li>
                    <a href="/user/register.html">免费注册</a>
                </li>
                <li>
                    <a href="/article/list.html?code=howToInvest">如何投资 </a>
                </li>
                <li>
                    <a href="/article/list.html?code=howToBorrow">如何贷款</a>
                </li>
            </ul>
            <ul>
                <li class="ft-title title2">关于我们</li>
                <li>
                    <a href="/article/list.html?code=aboutus">公司简介</a>
                </li>
                <li>
                   <a href="/article/list.html?code=flsm"> 法律声明</a>
                </li>
                <li>
                  <a href="/article/list.html?code=contect"> 联系我们</a>
                </li>
                <li>
                   <a href="/article/list.html?code=hzhb"> 合作伙伴</a>
                </li>
            </ul>
            <ul style="border:0">
                <li class="ft-title title4">诚信保障</li>
                <li>
                   <a href="/article/list.html?code=zcfg"> 政策法规</a>
                </li>
                <li>
                   <a href="/article/list.html?code=ysbh">隐私保护</a>
                </li>
                <li>
                    <a href="/article/list.html?code=questiontxt">常见问题</a>
                </li>
                <li>
                   <a href="/article/list.html?code=safe"> 安全保障</a>
                </li>
            </ul>
            <div class="erweima float_right">
                <img src="/themes/soonmes_default/images/erweima.jpg" alt="" class="float_left">
                <div class="float_left erweima-txt">
                    <p>公司地址：市鹿城区百里西路总工会大厦B区901</p>
                    <p>CopyRight ©2013 版权所有 蜀ICP备13023387</p>
                    <p>全国统一客服热线：4000581188</p>
                </div>
            </div>
           
        </div>
    </div>
</div>

<!--//底部  -->