<#include "header.htm"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="${contextPath}/rss/forums${extension}" />

<table width="100%" align="center">
	<tr>
		<td width="100%" height="318" valign="top">
			<!--快捷链接-->
           <!--//快捷链接-->      
			<table class="forumline forums_list" cellspacing="0" cellpadding="2" width="100%" border="0">
				<tr>
					<th class="thcornerl border_top" nowrap="nowrap" colspan="2"  align="left" valign="middle" style="border-left:1px solid #e1e1e1;">&nbsp;${I18n.getMessage("ForumListing.forums")}&nbsp;</th>
					<th class="thtop border_top" nowrap="nowrap" width="50">&nbsp;${I18n.getMessage("ForumListing.totalTopics")}&nbsp;</th>
					<th class="thtop border_top" nowrap="nowrap" width="60">&nbsp;${I18n.getMessage("ForumListing.totalMessages")}&nbsp;</th>
					<th class="thcornerr border_top" nowrap="nowrap" style="border-right:1px solid #e1e1e1;">&nbsp;${I18n.getMessage("ForumListing.lastMessage")}&nbsp;</th>
				</tr>
				<!-- START FORUM LISTING -->
				<#list allCategories as category>
					<tr>
						<td class="catleft" colspan="5" ><img src="${contextPath}/themes/bbs/templates/${templateName}/images/layout_class.png" />${category.name}</td>
					</tr>
					<#list category.getForums() as forum>
					<#assign lpi = forumRepository.getLastPostInfo(forum.id)/>
					<tr class="row_content">
						<td class="row1 border_lb" valign="middle" align="center" >
						<#if forum.unread>
							<img src="${contextPath}/themes/bbs/templates/${templateName}/images/folder_new_big.gif" alt="[New Folder]" />
						<#else>
							<img src="${contextPath}/themes/bbs/templates/${templateName}/images/folder_big.gif" alt="[Folder]" />
						</#if>
						</td>
						<td class="row1" width="100%" >
							<span class="forumlink">
							<a class="forumlink" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name?html}</a></span><br />
							<span class="genmed">
								${forum.description?default("")}
								<#if forum.isModerated()>
                               <p><#--${I18n.getMessage("ForumIndex.moderators")}-->审核人：
								<#assign moderators = forumRepository.getModeratorList(forum.id)/>
								<#list moderators as m>
								  <a href="${JForumContext.encodeURL("/user/listGroup/${m.id}")}">${m.name?html}</a>
								</#list>
								</#if>
								</p>
							</span>
							<br />		
						</td>
						<td class="row2" valign="middle" align="center" ><span class="gensmall">${forum.totalTopics}</span></td>
						<td class="row2" valign="middle" align="center" >
							<#assign total = forum.totalPosts/>
							<#if (total == 0 && forum.totalTopics > 0)>
								<#assign total = forum.totalTopics/>
							</#if>
							<span class="gensmall"><#if (total > 0)>${total}<#else>${I18n.getMessage("ForumListing.noMessages")}</#if></span>
						</td>
						<td class="row2 border_rb" valign="middle" nowrap="nowrap" align="center" >
							<span class="postdetails">
							<#if (lpi.postTimeMillis > 0)>
								${lpi.postDate}<br />
								<#if (lpi.userId > 0)><a href="${JForumContext.encodeURL("/user/profile/${lpi.userId}")}"></#if>${lpi.username}</a> 
					
								<#assign startPage = ""/>
								<#if (lpi.topicReplies + 1 > topicsPerPage)>
									<#assign startPage = ((lpi.topicReplies / topicsPerPage)?int * topicsPerPage) +"/"/>
								</#if>
					
								<#assign url = JForumContext.encodeURL("/posts/list/${startPage}${lpi.topicId}") + "#" + lpi.postId/>
								<a href="${url}"><img src="${contextPath}/themes/bbs/templates/${templateName}/images/turn.png" border="0" alt="[Latest Reply]" /></a>
							<#else>
								${I18n.getMessage("ForumListing.noMessages")}
							</#if>		
							</span>		
						</td>
					</tr>
					</#list>
				</#list>		
				<!-- END OF FORUM LISTING -->
			</table>
			<!-- 登录 -->
			<#--<#if !logged && !sso>
			<form name="formlogin" accept-charset="${encoding}" action="${JForumContext.encodeURL("/jforum")}" method="post">
				<input type="hidden" name="module" value="user" />
				<input type="hidden" name="action" value="validateLogin" />
				
				<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
					<tr>
						<td class="cathead" height="28"><a name="login2" id="login2"></a><span class="cattitle">${I18n.getMessage("Login.enter")}</span></td>
					</tr>

					<tr>
						<td class="row1" valign="middle" align="center" height="28">
							<span class="gensmall">
								${I18n.getMessage("Login.user")}: <input class="post" size="10" name="username" type="text"/> 
								&nbsp;&nbsp;&nbsp;
								${I18n.getMessage("Login.password")}: <input class="post" type="password" size="10" name="password" /> 
							 <#if autoLoginEnabled>
									&nbsp;&nbsp; &nbsp;&nbsp;
									<label for="autologin">${I18n.getMessage("Login.autoLogon")}</label> <input class="text" type="checkbox" name="autologin" id="autologin"/>
								</#if>
								
								&nbsp;&nbsp;&nbsp; 
								<input class="mainoption" type="submit" value="${I18n.getMessage("Login.enter")}" name="login" /> 
							</span>
						</td>
					</tr>
				</table>
			</form>
			</#if>-->

			
		</td>
	</tr>
</table>

<#include "bottom.htm"/>
